.image-hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; // for IE11

    @include margin-medium;

    @include for-tablet-portrait-up {
        @include margin-large;
    }

    &-background-container {
        @include full-viewport-full-bleed();
        background: $mid-grey;
        font-size: 0;
    }

    &-background-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-background-video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }

    &-content {
        @include full-bleed-inset;

        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto; // for IE11
        min-height: #{'calc(100vh - 130px)'}; // for IE11 -> 100vh - height of the header
    }

    &-text-column {
        @include uod-text-column;

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: -40px;
        flex: 1 0 auto; // for IE11

        .heading-position-left & {

            @include for-desktop-up {
                lost-offset: 2/16;
                lost-column: 11/16;
                flex: 1 0 auto; // for IE11
                margin-top: -20px;

                .image-hero-with-calltoaction & {
                    margin-top: -40px;
                }
            }
        }
    }

    @include for-largerthan-ipad-portrait {
        &-feature-block-container {
            lost-column: 7/8;
            flex: 0 0 auto; // for IE11
        }
    }

    &-heading-wrapper {
        flex: 0 0 auto; // for IE11
        margin: 0 7px;

        h1 {
            font-weight: bold;

            //above 400px we don't need to hyphenate
            @media (min-width: 400px) {
                hyphens: none;
            }

            .content-scheme-gold & {
                background: $gold;
                box-shadow: 7px 0 0 $gold, (7px * -1) 0 0 $gold;
                color: $white;
                color: $text-black;
            }

            @each $item, $colour in $content_scheme_colours {

                .content-scheme-#{$item} & {
                    background: $colour;
                    box-shadow: 7px 0 0 $colour, (7px * -1) 0 0 $colour;
                    color: $white;
                }
            } 
        }

        &-light {

            h1 {
                font-weight: normal;
            }
        }
    }

    &-content-type-tag {
        text-transform: uppercase;
        color: $black;

        @include for-largerthan-ipad-portrait {
            display: inline-block;
            position: absolute;
            left: 0;
            transform: rotate(-90deg) translateX(-100%);
            text-align: right;
            line-height: 1;
            transform-origin: top left;
        }


        &-container {
            position: relative;
        }

        .image-hero-white & {
            color: $white;
        }
    }

    &-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: px-to-em(30, 17);

        .image-hero-campaign-style & {

            @include for-phone-only {
                margin-bottom: px-to-em(80, 17);
            }
        }

        .breadcrumbs {
            flex: 1;
            margin-bottom: 1em;
        }

        @include for-largerthan-ipad-portrait {
            flex-direction: row;

            .breadcrumbs {
                margin-bottom: 0;
            }
        }
    }

    &-scroll-to-content-arrow {
        display: none;
        position: absolute;
        $bottom-margin: 10;
        $arrow-height: 32;
        $animation-distance: 20;
        top: #{'calc(100vh - ' + px-to-em(($bottom-margin + $arrow-height + $animation-distance), 17) + ')'};
        right: fluid-margin();

        @include for-largerthan-ipad-portrait {
            display: block;
        }

        &-animate {
            animation: scroll-indicator 1.5s infinite;
        }

        i {
            color: $black;
            font-size: 25 / 17 + 0rem;
        }

        &.image-hero-white {
            i {
                color: $white;
            }
        }
    }

    //allow the content scheme to set other headings in page
    &-content-scheme {

        @each $item, $colour in $content_scheme_colours {

            &-#{$item} + div + .center-align {

                .accordion, 
                .text-block,
                .landing-page-links {

                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        color: $colour;
                    }
                }

                .horizontal-rule {
                    color: $colour;
                    background: $colour;
                }

                //if the scheme is dark override the same colour on quote blocks to match...
                @if (str-index(#{$item}, 'dark-')) { 
                    .basic-quote-pattern-#{str-replace($item, 'dark-', '')}.basic-quote-pattern-diagonal .basic-quote-pattern-background, 
                    .basic-quote-pattern-#{str-replace($item, 'dark-', '')}.basic-quote-pattern-diagonal .basic-quote-pattern-mobile-background {
                        @include pattern-diagonal($colour);
                    }
                }
            }
        }
    }
}

// UG Campaign 2022 style is a bit different...
.ug-2022-hero-brand-heading.ug-2022-hero.image-hero,
.ug-2022-hero-brand-heading.ug-2022-hero.video-hero { 
 
    h1 strong {
        font-size: responsive 50px 90px;
        font-range: $mobile-portrait $tablet-landscape;
        font-family: flood-std, sans-serif; 
        font-style: 'normal';
    }
}


.ug-2022-hero.image-hero,
.ug-2022-hero.video-hero {

    h1 {
        background: none;
        box-shadow: none;
        
        strong {
            color: $pink;
            //when the heading is pink need to layer up a boat load of shadows to get the contrast ok when the heading overlaps the images
            text-shadow: rgb(34, 34, 34) 3px 3px 0px, 
                rgb(34, 34, 34) -3px -3px 0px, 
                rgb(34, 34, 34) 3px -3px 0px, 
                rgb(34, 34, 34) -3px 3px 0px, 
                rgb(34, 34, 34) 0px 0px 10px, 
                rgb(34, 34, 34) 0px 0px 20px, 
                rgb(34, 34, 34) 0px 0px 30px, 
                rgb(34, 34, 34) 0px 0px 40px, 
                rgb(34, 34, 34) 0px 0px 50px
        }

        &::after {
            margin-bottom: px-to-em(20, 70);
            content: '';
        }
    }

    [class*="-hero-text-column"] {
        margin-left: 0 !important;
        margin-top: calc(100vh/5);
    }

    [class*="-hero-search-content-container"] {

        @include for-tablet-portrait-up {
            lost-offset: 0/16;
        }

        @include for-tablet-landscape-up { 
            lost-column: 10/16;
            flex-basis: auto;
        }

        @include for-desktop-up {
            lost-offset: 0/16;
            lost-column: 9/16;
            flex-basis: auto;
        }

        max-width: 800px !important;
    }

    [class*="-hero-background-container"], 
    [class*="-hero-background-container"] {
        background: $black;
    }

    [class*="-hero-background-img"], 
    [class*="-hero-background-video"] {
        @media (max-width: #{$desktop - 1}) {
            max-height: 100vh;
        }
    }
}

.ug-2022-hero.ug-2022-event-hero {
    h1 span {
        display: inline-block;
        color: $black;
        background-color: $white;
        border-radius: 50%;
        padding: 0.9em 0.25em;
        font-size: 0.6em;
        position: relative;
        bottom: 0.25em;
        letter-spacing: 0.15em;
        font-weight: 700;

        &:first-letter {
            margin-left: 0.15em;
        }
    }
    .image-hero-text-column {
        min-width: 100%;
    }

    .image-hero-feature-block-container {
        display: inline-block;
        width: auto;
        margin: auto;
        width: 50%;

        @include for-phone-only {
            width: 100%;
        }
    }
}

// the animation keyframes for the "scroll down" arrow indicator
@keyframes scroll-indicator {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}
