

<section class="accordion" id="udol-course-taster-exercise">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="change-blindness-label" href="#change-blindness" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="change-blindness">
                                <h4 class="accordion-tab-title">
                    Change blindness
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="change-blindness" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="change-blindness-label">
                <div class="accordion-tab-content-inner">
                    A change in a visual stimulus is introduced and the observer does not notice it.
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="inattentional-blindness-label" href="#inattentional-blindness" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="inattentional-blindness">
                                <h4 class="accordion-tab-title">
                    Inattentional blindness
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="inattentional-blindness" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="inattentional-blindness-label">
                <div class="accordion-tab-content-inner">
                    Attention is diverted to another object or task so observers often fail to perceive an unexpected object, even if it appears at fixation.
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="perceptual-sets-label" href="#perceptual-sets" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="perceptual-sets">
                                <h4 class="accordion-tab-title">
                    Perceptual sets
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="perceptual-sets" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="perceptual-sets-label">
                <div class="accordion-tab-content-inner">
                    Going beyond the information given and using prior knowledge to perceive stimuli in a certain way.
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="perception-label" href="#perception" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="perception">
                                <h4 class="accordion-tab-title">
                    Perception
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="perception" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="perception-label">
                <div class="accordion-tab-content-inner">
                    The way in which we interpret the information gathered (and processed) by the senses. We sense the presence of a stimulus, but we perceive what it is.
                </div>
            </div>
        </div>
            </div>
</section>


<style type="text/css">
    #udol-course-taster-exercise .accordion-tab:after {
        display: inline-block;
        transform: translate(0, 0);
        text-rendering: auto;
        font: normal normal 400 14px/1 uod-icons;
        font-size: inherit;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: "\ea0d";
        font-size: 2em;
        color: #101d49;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    #udol-course-taster-exercise .accordion-tab:last-child:after {
        content: '';
        padding-top: 0;
    }
</style>
