

<div class="anchor-links-container anchor-links-container-light">
    <nav class="anchor-links anchor-links-light anchor-links-inline" role="navigation" aria-labelledby="anchor-links-title-label" aria-expanded="true" data-gumshoe-header data-scroll-header>
        <div class="anchor-links-title">
            <a href="#" class="anchor-links-title-link" aria-controls="page-content-navigation">
                <span id="anchor-links-title-label" class="anchor-links-title-label">Jump to letter</span>
            </a>
            <a href="#" class="anchor-links-title-toggle" aria-label="Toggle Page Content Navigation">
                <i class="uod-icons uod-icons-menu anchor-links-title-toggle-icon"></i>
            </a>
        </div>
        <div class="anchor-links-list-container">
            <ul id="page-content-navigation" class="anchor-links-list" data-gumshoe>
                                <li class="anchor-links-list-item">
                    <a href="#A" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter A">A</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#B" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter B">B</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#C" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter C">C</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#D" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter D">D</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#E" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter E">E</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#F" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter F">F</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#G" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter G">G</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#H" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter H">H</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#I" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter I">I</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#J" class="anchor-links-list-item-link disabled" data-scroll onclick="return false;" onkeyup="return false;" title="There are no courses starting with the letter I">J</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#K" class="anchor-links-list-item-link disabled" data-scroll onclick="return false;" onkeyup="return false;" title="There are no courses starting with the letter K">K</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#L" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter L">L</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#M" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter M">M</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#N" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter N">N</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#O" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter O">O</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#P" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter P">P</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#Q" class="anchor-links-list-item-link disabled" data-scroll onclick="return false;" onkeyup="return false;" title="There are no courses starting with the letter Q">Q</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#R" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter R">R</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#S" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter S">S</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#T" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter T">T</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#U" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter U">U</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#V" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter V">V</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#W" class="anchor-links-list-item-link" data-scroll title="Jump to course starting with the letter W">W</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#X" class="anchor-links-list-item-link disabled" data-scroll onclick="return false;" onkeyup="return false;" title="There are no courses starting with the letter X">X</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#Y" class="anchor-links-list-item-link disabled" data-scroll onclick="return false;" onkeyup="return false;" title="There are no courses starting with the letter Y">Y</a>
                </li>
                                <li class="anchor-links-list-item">
                    <a href="#Z" class="anchor-links-list-item-link disabled" data-scroll onclick="return false;" onkeyup="return false;" title="There are no courses starting with the letter Z">Z</a>
                </li>
                            </ul>
        </div>
    </nav>
</div>

