

<section class="media-embed audio-embed pink ">
	<figure class="media-embed-fig">
				<img class="media-embed-img" src="../../images/Richard-Gerver-3x2.jpeg"  data-sizes="(min-width: 40em) 80vw, 100vw" alt="Richard Gerver at a talk"/>
			</figure>
		<div class="visualiser-container " id="audio-1">
			<audio src="" data-src="../../audio/IB_S01_E01_Richard_Gerver.mp3" id="audio">audio element not supported</audio>
			<h1>Inspired Business S1-EP1: Richard Gerver</h1>
			<div class="visualiser-controls-container">
				<div class="left-column">
					<button class="playpause">
						<div class="icon"></div>
					</button>
				</div>

				<div class="right-column">
					<canvas id='audioBars' class="canvas"></canvas>

					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
					</div>

				</div>
			</div>
				</div>
</section>

