

<section class="media-embed audio-embed gold ">
	<figure class="media-embed-fig">
		
		<div class="visualiser-container mini " id="audio-1">
			<audio src="../../audio/IB_S01_E02_Nicole_Yeomans updated.mp3" id="audio">audio element not supported</audio>

			<div class="visualiser-controls-container">
				<div class="left-column">
					<button class="playpause">
						<div class="playpause-clip">
							<div class="clip-horiz"></div>
							<div class="clip-vert"></div>
						</div>
						<div class="playpause-cap">
							<div class="icon"></div>
						</div>
					</button>
				</div>

				<div class="right-column">
					<canvas id='audioBars' class="canvas"></canvas>

					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
					</div>

					<!--div class="episodes">
						<p>Episodes</p>
						<ul>
						<li>Richard Gerver</li>
						<li>Nicole Yeomans</li>
						<li>Dean Jackson</li>
						<li>Trevor Williams</li>
						<li>Abbi Burns</li>
						<li>Jon Eno</li>
						</ul>
					</div-->

				</div>
			</div>
		</div>

			</figure>
</section>

