

<!-- Start: @audio-embed--podcast -->
<p style="color:magenta;">Variant: Audio Embed With Image Pink Theme</p><section class="media-embed audio-embed pink " data-hasjs="true" data-component="audio-embed" >
	<!--figure class="media-embed-fig">
				<img class="media-embed-img" src="../../images/Richard-Gerver-3x2.jpeg"  data-sizes="(min-width: 40em) 80vw, 100vw" alt="Richard Gerver at a talk"/>
			</figure-->
		<div class="visualiser-container " id="audio-1">
			<audio src="" data-src="../../audio/IB_S01_E01_Richard_Gerver.mp3" id="audio">audio element not supported</audio>
			<h1>Inspired Business S1-E1: Richard Gerver</h1>
			<canvas id='audioBars' class="canvas"></canvas>
			<div class="visualiser-controls-container">

				<div class="left-column">
					<button class="playpause">
						<div class="icon"></div>
					</button>
				</div>

				<div class="right-column">
					
					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
						<div class="volume-transcript">
							<div class="volume"></div>
														<a href="" class="media-embed-transcript-p small">
								Inspired Business S1-E1: Richard Gerver
								audio transcript
															</a>
													</div>

					</div>
				</div>
			</div>
		</div>
</section>
<!-- End: @audio-embed--podcast -->

<!-- Start: @audio-embed--podcast-gold -->
<p style="color:magenta;">Variant: Audio Embed Gold Theme</p><section class="media-embed audio-embed gold " data-hasjs="true" data-component="audio-embed" >
	<!--figure class="media-embed-fig">
				<img class="media-embed-img" src="../../images/yeomans-3-4.jpg"  data-sizes="(min-width: 40em) 80vw, 100vw" alt="Richard Gerver at a talk"/>
			</figure-->
		<div class="visualiser-container " id="audio-1">
			<audio src="" data-src="../../audio/IB_S01_E02_Nicole_Yeomans updated.mp3" id="audio">audio element not supported</audio>
			<h1>Inspired Business S1-E2: Nicole Yeomans</h1>
			<canvas id='audioBars' class="canvas"></canvas>
			<div class="visualiser-controls-container">

				<div class="left-column">
					<button class="playpause">
						<div class="icon"></div>
					</button>
				</div>

				<div class="right-column">
					
					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
						<div class="volume-transcript">
							<div class="volume"></div>
													</div>

					</div>
				</div>
			</div>
		</div>
</section>
<!-- End: @audio-embed--podcast-gold -->

<!-- Start: @audio-embed--podcast-blue -->
<p style="color:magenta;">Variant: Audio Embed Gold Theme</p><section class="media-embed audio-embed blue " data-hasjs="true" data-component="audio-embed" >
	<!--figure class="media-embed-fig">
				<img class="media-embed-img" src="../../images/yeomans-3-4.jpg"  data-sizes="(min-width: 40em) 80vw, 100vw" alt="Richard Gerver at a talk"/>
			</figure-->
		<div class="visualiser-container " id="audio-1">
			<audio src="" data-src="../../audio/IB_S01_E02_Nicole_Yeomans updated.mp3" id="audio">audio element not supported</audio>
			<h1>Inspired Business S1-E2: Nicole Yeomans</h1>
			<canvas id='audioBars' class="canvas"></canvas>
			<div class="visualiser-controls-container">

				<div class="left-column">
					<button class="playpause">
						<div class="icon"></div>
					</button>
				</div>

				<div class="right-column">
					
					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
						<div class="volume-transcript">
							<div class="volume"></div>
													</div>

					</div>
				</div>
			</div>
		</div>
</section>
<!-- End: @audio-embed--podcast-blue -->

<!-- Start: @audio-embed--podcast-mini-pink -->
<p style="color:magenta;">Variant: Mini Player Pink</p><section class="media-embed audio-embed pink " data-hasjs="true" data-component="audio-embed" >
	<!--figure class="media-embed-fig">
			</figure-->
		<div class="visualiser-container mini " id="audio-1">
			<audio src="" data-src="../../audio/IB_S01_E01_Richard_Gerver.mp3" id="audio">audio element not supported</audio>
			<h1>Inspired Business S1-E1: Richard Gerver</h1>
			<canvas id='audioBars' class="canvas"></canvas>
			<div class="visualiser-controls-container">

				<div class="left-column">
					<button class="playpause">
						<div class="icon"></div>
					</button>
				</div>

				<div class="right-column">
					
					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
						<div class="volume-transcript">
							<div class="volume"></div>
														<a href="" class="media-embed-transcript-p small">
								Inspired Business S1-E1: Richard Gerver
								audio transcript
																	and description
															</a>
													</div>

					</div>
				</div>
			</div>
		</div>
</section>
<!-- End: @audio-embed--podcast-mini-pink -->

<!-- Start: @audio-embed--podcast-mini-gold -->
<p style="color:magenta;">Variant: Mini Player Gold</p><section class="media-embed audio-embed gold " data-hasjs="true" data-component="audio-embed" >
	<!--figure class="media-embed-fig">
			</figure-->
		<div class="visualiser-container mini " id="audio-1">
			<audio src="" data-src="../../audio/IB_S01_E02_Nicole_Yeomans updated.mp3" id="audio">audio element not supported</audio>
			<h1>Inspired Business S1-E2: Nicole Yeomans</h1>
			<canvas id='audioBars' class="canvas"></canvas>
			<div class="visualiser-controls-container">

				<div class="left-column">
					<button class="playpause">
						<div class="icon"></div>
					</button>
				</div>

				<div class="right-column">
					
					<div class="audio-controls">
						<div class="scrub">
							<div class="time">
								<span class="time-current">00:00</span>/<span class="time-total">00:00</span>
							</div>
						</div>
						<div class="volume-transcript">
							<div class="volume"></div>
													</div>

					</div>
				</div>
			</div>
		</div>
</section>
<!-- End: @audio-embed--podcast-mini-gold -->

