

<div class="ug-2022">
    <div class="basic-promo-container">
    <section class="basic-promo basic-promo-right-align basic-promo-black">
        <div class="basic-promo-backdrop basic-promo-pattern basic-promo-pattern-zigzag basic-promo-pattern-black">
            <div class="basic-promo-pattern-background" role="presentation"></div>            <div class="basic-promo-image-container">
                <img src="../../images/ug-2022-promo-kate.jpeg" alt="Kate" />            </div>
        </div>
        <div class="basic-promo-panel">
            <div class="basic-promo-panel-inner">
                <h2>Kate Henry: being inspired</h2>
                <p>A moment of inspiration changed Kate Henry's life. Now, as a newly qualified nurse, she is on the front line. And she's using her creativity to inspire the next generation of nurses.</p>
                                <a href="#" class="button-white" title="Kate Henry: being inspired" role="button" tabindex="0" data-scroll>
        Read Kate's story
            <span class="button-overlay"><span>
                        Read Kate's story
                    </span></span></a>                            </div>
        </div>
    </section>
</div>
    <div class="basic-promo-container">
    <section class="basic-promo basic-promo-right-align basic-promo-black">
        <div class="basic-promo-backdrop basic-promo-pattern basic-promo-pattern-zigzag basic-promo-pattern-black">
            <div class="basic-promo-pattern-background" role="presentation"></div>            <div class="basic-promo-image-container">
                <img src="../../images/ug-2022-omar-up-promo.jpg" alt="Omar" />            </div>
        </div>
        <div class="basic-promo-panel">
            <div class="basic-promo-panel-inner">
                <h2><span><strong>Make it Real</strong> <br>at Derby</span></h2>
                <p>We want you to realise your vision for your future. The University of Derby is a place where you can take your passion and talent and use them to create a better world.</p>
                                <a href="#" class="button-white" title="<span><strong>Make it Real</strong><br>at Derby</span>" role="button" tabindex="0" data-scroll>
        Find out how we can make it real for you
            <span class="button-overlay"><span>
                        Find out how we can make it real for you
                    </span></span></a>                            </div>
        </div>
    </section>
</div>
</div>
