

<!-- Start: @calendar-pagination--default -->
<nav class="calendar-pagination">
	<h2 class="h5">1 January 2019 - 31 January 2019</h2>
	<ol class="calendar-pagination-container">
		<li class="calendar-pagination-item">
			<a href="#">
				<i class="uod-icons uod-icons-chevron-left calendar-pagination-icon"></i> Previous month
			</a>
		</li>
		<li class="calendar-pagination-item">
			<a href="#">
				Next month <i class="uod-icons uod-icons-chevron-right calendar-pagination-icon"></i>
			</a>
		</li>
	</ol>
</nav>
<!-- End: @calendar-pagination--default -->

<!-- Start: @calendar-pagination--week -->
<nav class="calendar-pagination">
	<h2 class="h5">7 January 2019 - 13 January 2019</h2>
	<ol class="calendar-pagination-container">
		<li class="calendar-pagination-item">
			<a href="#">
				<i class="uod-icons uod-icons-chevron-left calendar-pagination-icon"></i> Previous week
			</a>
		</li>
		<li class="calendar-pagination-item">
			<a href="#">
				Next week <i class="uod-icons uod-icons-chevron-right calendar-pagination-icon"></i>
			</a>
		</li>
	</ol>
</nav>
<!-- End: @calendar-pagination--week -->

<!-- Start: @calendar-pagination--day -->
<nav class="calendar-pagination">
	<h2 class="h5">7 January 2019 - 13 January 2019</h2>
	<ol class="calendar-pagination-container">
		<li class="calendar-pagination-item">
			<a href="#">
				<i class="uod-icons uod-icons-chevron-left calendar-pagination-icon"></i> Previous day
			</a>
		</li>
		<li class="calendar-pagination-item">
			<a href="#">
				Next day <i class="uod-icons uod-icons-chevron-right calendar-pagination-icon"></i>
			</a>
		</li>
	</ol>
</nav>
<!-- End: @calendar-pagination--day -->

