

<div class="calendar-view-switcher calendar-view-switchers ajax-load-area" id="view-switchers" data-ajaxloadalso='["calendar_events", "view_period_switchers", "calendar_box","past_events","searchoptions","hidden_form_categories","hidden_form_generic","calendar_page"]'>
    <h6>View events by</h6>
    <a href="#" class="ajax-load-link">Day</a>
    <span class="calendar-view-switcher-spacer">|</span>
    <a href="#" class="ajax-load-link">Week</a>
    <span class="calendar-view-switcher-spacer">|</span>
    <span>Month</span>
    <span class="calendar-view-switcher-spacer">|</span>
    <a href="#" class="ajax-load-link">Year</a>
</div>
