

<div class="panel-carousel-container panel-carousel-no-title ">
    <div class="panel-carousel ">
        <div class="panel-carousel-background-container"></div>
                <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h2>Catch up on Open Day Live</h2>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="../../images/placeholder-2000x1500.png" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p><div class="open-days-list-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div></div></a>
                                                    <a class="slide gold" href=""><img src="../../images/placeholder-2000x1500.png" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p><div class="open-days-list-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div></div></a>
                                                    <a class="slide pink" href=""><img src="../../images/placeholder-2000x1500.png" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p><div class="open-days-list-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>

