

<!-- Start: @content-carousel--default -->
<p style="color:magenta;">Variant: Default</p><div class="panel-carousel-container ">
    <div class="panel-carousel ">
        <div class="panel-carousel-background-container"></div>
        <div class="panel-carousel-title"><h2>Visit</h2></div>        <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h3 class="h2">Catch up on Open Day Live</h3>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" title="Visit" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--default -->

<!-- Start: @content-carousel--title-bottom-left -->
<p style="color:magenta;">Variant: Title Bottom Left</p><div class="panel-carousel-container panel-carousel-title-bottom-left-align">
    <div class="panel-carousel ">
        <div class="panel-carousel-background-container"></div>
        <div class="panel-carousel-title"><h2>Visit</h2></div>        <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h3 class="h2">Catch up on Open Day Live</h3>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" title="Visit" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--title-bottom-left -->

<!-- Start: @content-carousel--no-title -->
<p style="color:magenta;">Variant: No Title</p><div class="panel-carousel-container panel-carousel-no-title ">
    <div class="panel-carousel ">
        <div class="panel-carousel-background-container"></div>
                <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h2>Catch up on Open Day Live</h2>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--no-title -->

<!-- Start: @content-carousel--purple -->
<p style="color:magenta;">Variant: Purple</p><div class="panel-carousel-container ">
    <div class="panel-carousel  theme-purple">
        <div class="panel-carousel-background-container"></div>
        <div class="panel-carousel-title"><h2>Visit</h2></div>        <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h3 class="h2">Catch up on Open Day Live</h3>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" title="Visit" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--purple -->

<!-- Start: @content-carousel--pink -->
<p style="color:magenta;">Variant: Pink</p><div class="panel-carousel-container ">
    <div class="panel-carousel  theme-pink">
        <div class="panel-carousel-background-container"></div>
        <div class="panel-carousel-title"><h2>Visit</h2></div>        <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h3 class="h2">Catch up on Open Day Live</h3>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" title="Visit" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="/images/campus-tours-icon-2.png" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="/images/chat-icon-2.png" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="/images/campus-tours-icon-2.png" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--pink -->

<!-- Start: @content-carousel--white -->
<p style="color:magenta;">Variant: White</p><div class="panel-carousel-container ">
    <div class="panel-carousel  theme-white">
        <div class="panel-carousel-background-container"></div>
        <div class="panel-carousel-title"><h2>Visit</h2></div>        <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h3 class="h2">Catch up on Open Day Live</h3>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" title="Visit" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--white -->

<!-- Start: @content-carousel--dark-grey -->
<p style="color:magenta;">Variant: Dark Grey</p><div class="panel-carousel-container ">
    <div class="panel-carousel  theme-dark-grey">
        <div class="panel-carousel-background-container"></div>
        <div class="panel-carousel-title"><h2>Visit</h2></div>        <div class="panel-carousel-content">
            <div class="panel-carousel-panel">
                <div class="panel-carousel-panel-inner">
                                            <h3 class="h2">Catch up on Open Day Live</h3>
                                        <p>Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p>
                                                            <a href="#" class="button-outline" title="Visit" role="button" tabindex="0" data-scroll>
        Watch Open Day Live
            <span class="button-overlay"><span>
                        Watch Open Day Live
                    </span></span></a>                                                        </div>
            </div>

            <div class="panel-carousel-carousel-container">
                <section class="carousel large-12 columns">
                    <div class="owl-carousel owl-theme">
                                                    <a class="slide blue" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Undergraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide gold" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">Postgraduate</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                                    <a class="slide pink" href=""><img src="https://via.placeholder.com/2000x1500" alt=""><div class="slide-content"><h3 class="h4">International</h3><p class="small">Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero. Aliquam erat volutpat. Fusce commodo aliquam arcu. Vestibulum volutpat pretium libero.</p></div></a>
                                            </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- End: @content-carousel--dark-grey -->

