

<div class="cookie-overlay">
	<div class="banner" aria-modal="true" aria-labelledby="banner-label">
		<div class="banner-title h4" id="banner-label"><p>About our use of Cookies</p></div>
		<div class="banner-content">
			<p>We use various types of cookies on our website. Some are necessary simply for the site to work as it should, others are used to personalise the content and ads that you see, to provide social media features and to analyse our site traffic and visits. We also share cookie collected information about your use of our site with our social media, advertising and analytics partners. If you are happy to accept all cookies simply click on the <b>Accept All Cookies and Close</b> button here. Otherwise you can choose which cookies you accept by selecting from the settings below and clicking <b>Save Preferences and Close</b> at the bottom of this page. These settings can be changed at any time using the '<b>Cookie settings</b>' link in the footer.</p>
			<p>
				<a href="" class="button-yellow button-large" role="button" tabindex="0" data-scroll>
        Accept All Cookies and Close
            <span class="button-overlay"><span>
                        Accept All Cookies and Close
                    </span></span></a>			</p>
			<div class="cookie-group">
				<div class="cookie-group heading">
					Necessary Cookies:
				</div>
				<p>
					These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions by you which amount to a request for something, such as setting your cookie preferences, logging in or filling in forms.
				</p>
				<p>
					You can set your browser to block or alert you about necessary cookies, but this can affect your ability to use some parts of our site.
				</p>
			</div>

			<div class="cookie-group">
				<div class="cookie-group heading">
					Performance Cookies:
				</div>
				<div class="cookie-group details">
					<div class="description">
						<p>
							Performance cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site. Click in the box if you are happy to accept these cookies:
						</p>
					</div>
					<div class="cookie-toggle">
						<label for="performanceToggle">
						<input type="checkbox" value="1" id="performanceToggle" name="cookie" />
						<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>

			<div class="cookie-group">
				<div class="cookie-group heading">
					Functional Cookies:
				</div>
				<div class="cookie-group details">
					<div class="description">
						<p>These cookies enable the website to provide enhanced functionality and personalisation. They may be set by us or by third parties whose services we have added to our pages. If you choose not to accept these cookies you may find some or all of these services may not function properly. Click in the box if you are happy to accept these cookies:</p>
					</div>
					<div class="cookie-toggle">
						<label for="functionalToggle">
							<input type="checkbox" value="2" id="functionalToggle" name="cookie" />
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>

			<div class="cookie-group">
				<div class="cookie-group heading">
					Targeting Cookies:
				</div>
				<div class="cookie-group details">
					<div class="description">
						<p>These cookies may be set by our advertising partners. Advertisers tend to use them to build a profile of your browsing history and interests and show you adverts relevant to it, both on this and other sites.</p>
						<p>Targeting cookies store data that uniquely identifies your browser and internet device. If you do not accept these cookies you will experience less ‘targeted’ advertising (i.e. ads targeted to your browsing history and interests) but please note, you will still see advertising. Click in the box if you are happy to accept these cookies:</p>
					</div>
					<div class="cookie-toggle">
						<label for="targetingToggle">
							<input type="checkbox" value="3" id="targetingToggle" name="cookie" />
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>

			<div class="cookie-group">
				<div class="cookie-group heading">
					Social Media Cookies:
				</div>
				<div class="cookie-group details">
					<div class="description">
						<p>Social media cookies are set by social media companies who we provide links for on the site to enable you to share our content with your friends and networks. They are capable of tracking your browser across other sites and building up a profile of your interests. These may also target the content and messages you see on other websites you visit.</p>
						<p>If you do not allow these cookies you may not be able to use or see these social media sharing tools on our site. Click in the box if you are happy to accept these cookies:</p>
					</div>
					<div class="cookie-toggle">
						<label for="socialToggle">
							<input type="checkbox" value="4" id="socialToggle" name="cookie" />
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
			<p>&nbsp;</p>
				<a href="" class="button-yellow button-large" role="button" tabindex="0" data-scroll>
        Save Preferences and Close
            <span class="button-overlay"><span>
                        Save Preferences and Close
                    </span></span></a>		</div>
	</div>
</div>
