

<div class="component dividerContainer" data-component="divider" data-hascss="true">
    <div class="fade"></div>
    <svg x="0" y="0" width="100%" height="100%">
      <defs>
        <pattern id="diagonalHatch" class="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="12" patternTransform="rotate(-45 2 2)">
          <path d="M -1,2 l 6,0" stroke-width="4" />
        </pattern>
      </defs>
      <rect x="1" y="1" width="100%" height="100%" fill="url(#diagonalHatch)" />
    </svg>
  </div>
