

<section class="text-block" role="region"  aria-labelledby="here’s-where-your-journey-starts" >
    <h2 id="here’s-where-your-journey-starts">Here’s where your journey starts</h2>                    <p>The pathways have been used to develop an indicator that measures how connected to nature a person is. It’s hoped that this indicator will be adopted by national policy makers as a way of measuring the effects of interventions. The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
        <p>The University led this work, alongside The Wildlife Trusts, National Trust, Natural England, RSPB, and Historic England.</p>
            </section>

<section class="text-block">
  <h3>Induction Schedule</h3>
  <p>Please use the search facility below to find the induction schedule for your course.</p>
    <div class="search-input-group search-input-group-outline search-input-group-enrolment">
      <input type="text" class="search-input" name="q" placeholder="eg Fine Art BA (Hons)" id="interview-search">
      <div class="search-button"><i class="uod-icons uod-icons-search"></i> </div>
    </div>
  <table class="hide" id="enrolment-table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Further details</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Primary Education with QTS X100 B.Ed (Hons)</td>
      <td>
        <p>Please find your programme induction schedule&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/B.Ed-(Hons)-Primary-Education-with-QTS.pdf">B.Ed (Hons) Primary Education with QTS (2017-18)</a></p>
      </td>
    </tr>
    <tr>
      <td >3D Animation W624 BA (Hons)</td>
      <td>
        <p>Please find your programme induction schedule:&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-3D-Animation-S1---(W624).pdf">BA (Hons) 3D Animation W624 17-18</a></p>
      </td>
    </tr>
    <tr>
      <td >Accounting &amp; Finance (N400) BA (Hons)</td>
      <td>
        <p>Please find your programme induction schedule&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-Accounting-&amp;-Finance-(N400)-17-18.pdf">BA (Hons) Accounting &amp; Finance (N400) 17-18</a></p>
      </td>
    </tr>
    <tr>
      <td >Accounting and Finance with Foundation Year N401 BA (Hons)</td>
      <td>
        <p>Please find your programme induction schedule&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-Accounting-and-Finance-with-Foundation-Year-N401-17-18.pdf">BA (Hons) Accounting and Finance with Foundation Year N401 17-18</a></p>
      </td>
    </tr>
    <tr>
      <td >Animation W615 BA (Hons) </td>
      <td>
        <p>Please find your programme induction schedule:&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-Animation-S1---(W615).pdf">BA (Hons) Animation W615 17-18</a></p>
      </td>
    </tr>
    <tr>
      <td>Applied Social Work L510 BA (Hons)</td>
      <td>
        <p>Please find your programme induction schedules:&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-Applied-Social-Work-(L510).pdf">BA (Hons) Applied Social Work L510 17-18</a></p>
      </td>
    </tr>
    <tr>
      <td >Banking and Finance (Top-up) BA (Hons) </td>
      <td>
        <p>Please find your programme induction schedule</p><p><a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-Banking-and-Finance-Top-up.pdf">BA (Hons) Banking and Finance Top up 17-18</a></p>
      </td>
    </tr>
    <tr>
      <td >Business Accounting and Finance (N473) BA (Hons)</td>
      <td>
        <p>Please find your programme induction schedule&nbsp;<a href="/media/derbyacuk/contentassets/documents/enrolment/arrivalinfo/BA-(Hons)-Business-Accounting-and-Finance-(N473)-17-18.pdf">BA (Hons) Business Accounting and Finance (N473) 17-18</a></p>
      </td>
    </tr>
  </tbody>
</table>
</section>

