<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.5.1" type="text/css">

<link rel="stylesheet" href="../../styles/ui.css?cachebust=1.5.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.5.1" type="text/css">


<title>Error rendering component full-page-comps--homepage-cookies | University of Derby</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Error: Template @cookie-banner not found</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Error: Template @cookie-banner not found
    at /opt/atlassian/pipelines/agent/build/node_modules/@frctl/twig/src/adapter.js:156:24
    at new Promise (/opt/atlassian/pipelines/agent/build/node_modules/core-js/modules/es6.promise.js:177:7)
    at TwigAdapter.render (/opt/atlassian/pipelines/agent/build/node_modules/@frctl/twig/src/adapter.js:134:16)
    at ComponentSource._renderVariant (/opt/atlassian/pipelines/agent/build/node_modules/@frctl/fractal/src/api/components/source.js:206:30)
    at _renderVariant.next (<anonymous>)
    at onFulfilled (/opt/atlassian/pipelines/agent/build/node_modules/co/index.js:65:19)
    at tryCatcher (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/util.js:16:23)
    at Promise._settlePromiseFromHandler (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:547:31)
    at Promise._settlePromise (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:604:18)
    at Promise._settlePromise0 (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:649:10)
    at Promise._settlePromises (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:729:18)
    at Promise._fulfill (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:673:18)
    at Promise._resolveCallback (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:466:57)
    at Promise._settlePromiseFromHandler (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:559:17)
    at Promise._settlePromise (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:604:18)
    at Promise._settlePromise0 (/opt/atlassian/pipelines/agent/build/node_modules/bluebird/js/release/promise.js:649:10)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.5.1"></script>



</body>
</html>
