

<section class="text-block" role="region"  aria-labelledby="interview-courses" >
    <h2 id="interview-courses">Interview courses</h2>                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec rutrum metus. Donec et sodales tellus, vitae lacinia erat. In faucibus urna arcu, in ullamcorper diam feugiat eu.</p>
		<div class="in-page-search">
			<form method="GET" action="" data-attr-no-results-message="No results found, please try again.">
			    <div class="search-input-group search-input-group-outline">
            <label for="interview-search" class="search-input-label">Search courses</label>
        <input type="text" class="search-input" name="query" placeholder="" id="interview-search">
            			    		<div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100;">
			    			<div class="tt-dataset tt-dataset-organic"></div>
						</div>
			    	        <button class="search-button" type="button">
        <i class="uod-icons uod-icons-search"></i>
        <span class="search-button-overlay"><i class="uod-icons uod-icons-search"></i>search</span>
    </button>
</div>
			</form>
		</div>
	        </section>

 <script type="text/javascript">
 	// dummy data
    var courses = [
        {
            "name": "Accounting and Finance MSc",
            "url": "https://www.derby.ac.uk/postgraduate/accounting-courses/accounting-finance-msc/"
        },
        {
            "name": "Accounting (Joint Honours)",
            "url": "https://www.derby.ac.uk/undergraduate/accounting-courses/accounting-joint-honours/"
        },
        {
            "name": "Accounting and Finance BA (Hons)",
            "url": "https://www.derby.ac.uk/undergraduate/accounting-courses/accounting-and-finance-ba-hons/"
        },
    ];
</script>
