

<section class="text-block" role="region"  aria-labelledby="induction-week-schedule-11-15-september-2018" >
    <h2 id="induction-week-schedule-11-15-september-2018">Induction Week Schedule 11-15 September 2018</h2>            		<p>Your induction week is an important part of your introduction into the university and your Joint honours course. As a Joint honours student, you'll be studying 2 subjects, and it's important that you are involved with induction activities for both your subjects. Our subjects do have various approaches to the events they put on during induction week, so don't worry if they seem different for each of your two subjects. We try to combine practical sessions with information, advice and fun!</p>
		<p>We always aim to keep to the schedules we publish, but sometimes things beyond our control could mean that there'll be a change (usually it's about room changes). If there are any changes we'll be publishing them here in the information for each of your subjects. Keep on checking so that you have the right information - perhaps take a final look on Sunday 10th September?</p>
		<p>You must attend the compulsory sessions for your subjects, as these give you all the core information that you'll need to begin your study of the subject. You'll also get to meet academic staff and get to know other students studying the same subjects as you.</p>
		<p>The optional sessions are valuable and you should try to attend as many as possible. Very occasionally, some of the optional sessions for your 2 subjects may be happening at the same time. The choice is yours which you attend if this is the case. If you miss any of the optional sessions because they're clashing with each other, don't worry, you won't be penalised for not attending if you have to make a choice.</p>
		<p>To help you find your way around, our room numbers always start with their locations, for example, E616 is on the 6th Floor of East Tower&hellip;</p>
		<ul>
			<li>E is East Tower, Kedleston Road</li>
			<li>B is B Block, Kedleston Road</li>
			<li>T is T Block, Kedleston Road</li>
			<li>N is North Tower, Kedleston Road</li>
			<li>K is the Kirtley Building, Kedleston Road</li>
			<li>OL1 and OL2 are on the balcony above the shops in the Atrium at Kedleston Road</li>
			<li>Heap Lecture Theatre is down the corridor from Blends Coffee Shop in the Atrium at Kedleston Road</li>
			<li>MS is our Markeaton Street site</li>
			<li>OFGS (One Friargate Square) is our Law building in the city centre</li>
			<li>BM is our Britannia Mill site</li>
			<li>Theatre is our Derby Theatre city centre site in the INTU shopping centre</li>
		</ul>
		<p>If you need to travel between sites, there's a regular, <a href="https://www.derby.ac.uk/about/travel/derby/buses/">free shuttle bus</a> (the Number 4) and there are <a href="https://www.derby.ac.uk/about/travel/derby/buses/">Unibuses</a> to and from the University which will take you into the city centre, free of charge if you show your student ID card.</p>
		<p>There'll be a Joint honours stand in the Atrium at Kedleston Road during induction week, with staff to help you find your way around and answer any queries, and our Welcome Heroes will be there to help you too ... look out for the t-shirts!</p>
            </section>
<section class="form-wrapper">
	<h3>Look up your induction timetable</h3>
	<p>Use the drop down menus below to get your timetable of events for each of your subjects over induction week. It's easy! Choose one of your subject titles from one drop down list, then the other subject title from the other and your induction timetable for both subjects will be shown below.</p>
	<form>
		<div class="form-group">
	<label for="select-1">Select your first Joint Honours subject</label>
		<div>
		<select class="form-control" id="select-1" name="select-1">
			<option value="">-- Please choose --</option>
					</select>
	</div>
	</div>        <div class="form-group">
	<label for="select-2">Select your second Joint Honours subject</label>
		<div>
		<select class="form-control" id="select-2" name="select-2">
			<option value="">-- Please choose --</option>
					</select>
	</div>
	</div>		<div id="comparison-table-links"></div>
	</form>
</section>
<section id="comparison" class="joint-honours-comparison text-block">
	<div id="comparison-1" class="joint-honours-comparison-column"></div>
	<div id="comparison-2" class="joint-honours-comparison-column"></div>
</section>

<div id="tables" style="display: none;">
	<div data-subject="Accounting">
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room</td>
					</tr>
					<tr>
						<td>Monday 11 Sept</td>
						<td>
							<p>Welcome and Ice breaker</p>
						</td>
						<td>11.00-13.00pm</td>
						<td>B301</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>Overview of Accounting and Finance</p>
							<p>followed by talks with student liasion officer/wellbeing</p>
						</td>
						<td>14.00-16.00pm</td>
						<td>Kirtley Hall</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td>Tuesday 12 Sept</td>
						<td>Library Tour/ Computer lab activity</td>
						<td>10.00-12.00pm</td>
						<td>Library/B222</td>
					</tr>
					<tr>
						<td> </td>
						<td>Mentoring Session/Induction Task</td>
						<td>12.00-15.00pm</td>
						<td>Kirtley Hall</td>
					</tr>
					<tr>
						<td> </td>
						<td>Group Induction Activity</td>
						<td>15.00-16.00pm</td>
						<td>OL1</td>
					</tr>
					<tr>
						<td>Wednesday 13 Sept </td>
						<td>Business Project Presentation</td>
						<td>09.45-17.00pm</td>
						<td>OL2</td>
					</tr>
					<tr>
						<td>Thursday 14 Sept </td>
						<td>Presentations Preparation</td>
						<td>09.00 -17.00pm</td>
						<td>
							<p>Rooms to be</p>
							<p>allocated</p>
							<p>on the day</p>
						</td>
					</tr>
					<tr>
						<td>Friday 15 Sept</td>
						<td>Networking Event &amp; Business Project Final</td>
						<td>09.00-17.00pm</td>
						<td>
							<p>Please meet at</p>
							<p>Derby Cathedral</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div data-subject="American Studies">
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td> Monday 11 Sept</td>
						<td>Welcome including 'The near-Legendary No Pub Based Pub quiz'</td>
						<td>17.00 - 19.30pm</td>
						<td>N405</td>
					</tr>
					<tr>
						<td>Thursday 14 Sept</td>
						<td>Visit to the Tate Gallery and Slave Museum</td>
						<td>8.00 -19.00pm</td>
						<td>
							<p>Meet at main Reception,</p>
							<p>Kedleston Road</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td>Tuesday 12 Sept</td>
						<td>Subject Drop in</td>
						<td>10-12.00pm</td>
						<td>E707</td>
					</tr>
					<tr>
						<td>Wednesday 13 Sept</td>
						<td>Free Movie Screening</td>
						<td>14.00-17.00pm</td>
						<td>Quad Cinema, Derby</td>
					</tr>
					<tr>
						<td>Friday 15 Sept</td>
						<td>'Elevenses'</td>
						<td>11.00-12.00pm</td>
						<td>Blends (Kedleston Road)</td>
					</tr>
					<tr>
						<td>Friday 15 Sept</td>
						<td>Library Tour</td>
						<td>12.00 - 12.30pm</td>
						<td>Meet at main reception</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div data-subject="Analytics">
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td>Tuesday 12 Sept</td>
						<td>
							<p>Markeaton Street Tour.</p>
							<p>Followed by enrolment until 3pm</p>
						</td>
						<td>1.30pm - 3pm</td>
						<td>
							<p>Meet at Markeaton</p>
							<p>Street Reception</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td>Monday 11 Sept</td>
						<td>Welcome and Induction</td>
						<td>11am - 1pm</td>
						<td>BMG03</td>
					</tr>
					<tr>
						<td>Wednesday 13 Sept</td>
						<td>Student Wellbeing Session</td>
						<td>2.30 - 3.00pm</td>
						<td> MS023</td>
					</tr>
					<tr>
						<td>Thursday 14 Sept</td>
						<td>Careers Session</td>
						<td>11.00am - 11.30am</td>
						<td>MS023</td>
					</tr>
					<tr>
						<td> </td>
						<td>Personal Tutor Allocation</td>
						<td>11.30am - 1.00pm</td>
						<td>BMG02</td>
					</tr>
					<tr>
						<td> </td>
						<td>Buffet Lunch</td>
						<td>1.30pm - 2.30pm</td>
						<td>MS018</td>
					</tr>
					<tr>
						<td> </td>
						<td>Independent Engineering Project</td>
						<td>2.30pm - 3.30pm</td>
						<td>MS321</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div data-subject="Architectural Design">
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td>Tuesday 12 Sept</td>
						<td>
							<p>Welcome, Wellbeing - getting the most out of University</p>
							<p>Introduction to careers and Employment service</p>
						</td>
						<td>11am-1.15pm</td>
						<td>MS146</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>Programme Introduction (followed by enrolment,</p>
							<p>Markeaton St</p>
						</td>
						<td>14.30 - 15.30pm</td>
						<td>MS016</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="activities-container">
			<table>
				<tbody>
					<tr>
						<td>Day</td>
						<td>Activity</td>
						<td>Time</td>
						<td>Room </td>
					</tr>
					<tr>
						<td>Wednesday 13 Sept</td>
						<td>Library Tour at Kedleston Rd</td>
						<td>9.30-10.00am</td>
						<td>Library</td>
					</tr>
					<tr>
						<td> </td>
						<td>Kedleston Road Site Tour</td>
						<td>10.00-10.30pm</td>
						<td>
							<p>Meet at Welcome desk</p>
							<p>(near Library)</p>
						</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>Introduction to Personal tutors</p>
							<p>and Allocation</p>
						</td>
						<td>11.30am - 12.30</td>
						<td>
							<p>MS017</p>
						</td>
					</tr>
					<tr>
						<td>Thursday 14 Sept</td>
						<td>
							<p>Coach trip and visit to Chatsworth House</p>
							<p>(wear sensible outdoor clothing and stout shoes)</p>
						</td>
						<td>8.30- 17.00pm</td>
						<td>
							<p>Meet at the end of Pybus St</p>
							<p>(where it meets Ashbourne Rd)</p>
						</td>
					</tr>
					<tr>
						<td>Friday 15 Sept</td>
						<td>
							<p>Workshop - Diaster shelter project or</p>
							<p>Bridge/Tower building</p>
						</td>
						<td>09.30-12.30pm</td>
						<td>MS131</td>
					</tr>
					<tr>
						<td> </td>
						<td>Buffet Lunch</td>
						<td>12.30 - 13.30pm</td>
						<td>MS016</td>
					</tr>
					<tr>
						<td> </td>
						<td>
							<p>Workshop - Diaster Shelter Project</p>
							<p>or Bridge/Tower</p>
						</td>
						<td>14.30 - 16.30pm</td>
						<td>MS131</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
