

<section class="key-course-details-block">
    <div class="key-course-details-block-inner">
                    <div class="key-course-details-block-tag">
                <div class="tag tag-strawberry">Available through clearing</div>
                <p class="key-course-details-block-tag-p"> - <a href="tel:01234123456">Call 01234123456</a></p>            </div>
                <h2 id="course-details">Course details</h2>
        <div class="key-course-details-block-items-wrapper">
                        <div class="key-course-details-block-item key-course-details-block-item-three-column">
                <p class="key-course-details-block-item-p">Study option</p>
                <p class="key-course-details-block-item-p">
                    Full-time: 3 years, Part-time: up to 6 years, Online: up to 6 years <a href="" class="disable-underlines">†</a>
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UK fee</p>
                <p class="key-course-details-block-item-p">
                    £9,250 per year
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">International fee</p>
                <p class="key-course-details-block-item-p">
                    £12,500 per year
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS points</p>
                <p class="key-course-details-block-item-p">
                    104
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">UCAS code</p>
                <p class="key-course-details-block-item-p">
                    C100
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Course level</p>
                <p class="key-course-details-block-item-p">
                    Undergraduate
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Qualification</p>
                <p class="key-course-details-block-item-p">
                    BSc (Hons) degree
                </p>
            </div>
                        <div class="key-course-details-block-item">
                <p class="key-course-details-block-item-p">Location</p>
                <p class="key-course-details-block-item-p">
                    Kedleston Road site, Derby Campus
                </p>
            </div>
             
        </div>
    </div>
    </section>




