

<section class="key-stats">
            <section class="text-block" role="region"  aria-labelledby="using-an-image-as-the-stat" >
    <h2 id="using-an-image-as-the-stat">Using an image as the stat</h2>            <p>In some instances it may be appropriate for an image to be used to represent a stat. This <strong>must</strong> only be used in cases where a logo or badge represents an award or achievement, for example TEF Gold.</p>
        </section>
        <section class="key-stats-container">
                    <div class="key-stat">
                                                                <span class="key-stat-image-stat">
                    <img src="../../images/logo-group/TEF-Gold-logo-RGB.jpg" alt="TEF Gold logo" />
                </span>
                                                <span class="key-stat-subtitle">We're rated Gold in the Teaching Excellence Framework (TEF)</span>                            </div>
                    <div class="key-stat">
                                                                <span class="key-stat-big-text"><sub>Top</sub>30</span>                <span class="key-stat-subtitle">UK University*</span>                <span class="key-stat-footnote">*Guardian University Guide 2020</span>            </div>
                    <div class="key-stat">
                                                                <span class="key-stat-big-text"><sub>Top</sub>10</span>                <span class="key-stat-subtitle">in the world for international student learning experience*</span>                <span class="key-stat-footnote">*Global ISB Benchmark Group 2018</span>            </div>
            </section>

</section>

    
