

<section class="landing-page-links landing-page-links-weave">
        <h2 id="this-is-the-heading" class="landing-page-links-heading">This is the heading</h2>
        <div class="landing-page-links-inner">
        <div class="landing-page-links-pattern-background"></div>        <div class="landing-page-links-items">
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-398.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Applying</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/56A0980.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Joint honours</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-142.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Example of a long title that wraps</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-292.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Fees and finance</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-390.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Course search</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-398.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Applying</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/56A0980.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Joint honours</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-142.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Example of a long title that wraps</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-292.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Fees and finance</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                            <div class="landing-page-links-item">
                    <a href="#" class="landing-page-links-item-a">
                        <img src="../../images/landing-page-links-demo/UG19Prosp-Keyvis-390.jpg" alt="" class="landing-page-links-item-img">
                        <div class="landing-page-links-item-details">
                            <div class="landing-page-links-item-title h3">Course search</div>
                            <div class="landing-page-links-item-text">
                                <p>Use our university course finder to get details of foundation, undergraduate, postgraduate, professional, masters, joint honours and research courses.</p>
                            </div>
                        </div>
                    </a>
                </div>
                    </div>
    </div>
</section>


