

<div class="logo-group-wrapper">
	<section class="text-block" role="region"  aria-labelledby="accreditations-to-progress-your-career" >
    <h2 id="accreditations-to-progress-your-career">Accreditations to progress your career</h2>            			<p>We’ve designed the BA (Hons) Accounting and Finance course to ensure that, if you select the relevant module pathway, you’ll be eligible to apply for the maximum exemptions offered by ACCA and for a range of exemptions offered by CIMA, ICAEW and AIA. This means you can achieve membership of your professional body more quickly and accelerate your career progression.</p><p>You could choose to pursue other professional accounting qualifications too. Our course gives you the chance to apply for a range of exemptions offered by:</p><ul><li>Chartered Institute of Management Accountants (CIMA)</li><li>Institute of Chartered Accountants in England and Wales (ICAEW)</li><li>Association of International Accountants (AIA)</li><li>CPA Australia</li></ul>
							<div class="logo-group logo-group-4-per-row">
											<div class="logo">
															<img src="../../images/logo-group/acca-logo.png" alt="ACCA logo" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/cima-logo.jpg" alt="CIMA university partner" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/cpa-australia-logo.png" alt="CPA Australia logo" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/icaew-logo.gif" alt="ICAEW logo" class="logo-img" />
													</div>
									</div>
										<p class="logo-group-cta">
			        <a href="#" class="button-outline" title="Accreditations to progress your career" role="button" tabindex="0" data-scroll>
        Find out more about our accredited courses
            <span class="button-overlay"><span>
                        Find out more about our accredited courses
                    </span></span></a>		        </p>
	        	            </section>
</div>
