

<div class="logo-group-wrapper">
	<section class="text-block" role="region"  aria-labelledby="award-winners" >
    <h2 id="award-winners">Award winners</h2>            			<p>Our halls of residence are winners of three awards in the 2019 National Student Housing Survey Awards, as well as being shortlisted in six categories.</p>
							<div class="logo-group logo-group-1-per-row">
											<div class="logo">
															<img src="../../images/logo-group/cima-logo.png" alt="CIMA university partner" class="logo-img" />
													</div>
									</div>
							            </section>
</div>
