

<div class="logo-group-wrapper">
	<section class="text-block" role="region"  aria-labelledby="our-reputation" >
    <h2 id="our-reputation">Our reputation</h2>            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia eveniet porro earum nisi repudiandae molestias corporis natus rem dolorum error, placeat illum, itaque asperiores exercitationem culpa voluptates odio saepe at.</p>
							<div class="logo-group logo-group-5-per-row">
											<div class="logo">
							<a href="http://www.derby.ac.uk/awards" class="logo-a">								<img src="../../images/logo-group/TEF-Gold-logo-RGB-portrait.jpg" alt="This is an alt tag" class="logo-img" />
							</a>						</div>
											<div class="logo">
															<img src="../../images/logo-group/TEF-Gold-logo-RGB.jpg" alt="This is an alt tag" class="logo-img" />
													</div>
											<div class="logo">
							<a href="http://www.derby.ac.uk/awards" class="logo-a">								<img src="../../images/logo-group/TEF-Gold-logo-RGB-portrait.jpg" alt="This is an alt tag" class="logo-img" />
							</a>						</div>
											<div class="logo">
															<img src="../../images/logo-group/TEF-Gold-logo-RGB.jpg" alt="This is an alt tag" class="logo-img" />
													</div>
											<div class="logo">
							<a href="http://www.derby.ac.uk/awards" class="logo-a">								<img src="../../images/logo-group/TEF-Gold-logo-RGB-portrait.jpg" alt="This is an alt tag" class="logo-img" />
							</a>						</div>
											<div class="logo">
															<img src="../../images/logo-group/TEF-Gold-logo-RGB.jpg" alt="This is an alt tag" class="logo-img" />
													</div>
									</div>
							            </section>
</div>
