

<div class="logo-group-wrapper">
	<section class="text-block" role="region"  aria-labelledby="our-reputation" >
    <h2 id="our-reputation">Our reputation</h2>            			
							<div class="logo-group logo-group-5-per-row">
											<div class="logo">
															<img src="../../images/logo-group/TopSite-Q4-2018.png" alt="Sitemorse Index Top Site Q4 2018" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/TopSite-Q1-2019.png" alt="Sitemorse Index Top Site Q1 2019" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/TopSite-Q2-2019.png" alt="Sitemorse Index Top Site Q2 2019" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/TopSite-Q3-2019.png" alt="Sitemorse Index Top Site Q3 2019" class="logo-img" />
													</div>
											<div class="logo">
															<img src="../../images/logo-group/TopSite-Q4-2019.png" alt="Sitemorse Index Top Site Q4 2019" class="logo-img" />
													</div>
									</div>
										<p class="logo-group-cta">
			        <a href="#" class="button-outline" title="Our reputation" role="button" tabindex="0" data-scroll>
        View the latest full Sitemorse Index
            <span class="button-overlay"><span>
                        View the latest full Sitemorse Index
                    </span></span></a>		        </p>
	        	            </section>
</div>
