

    <section class="text-block" role="region"  aria-labelledby="pathways-to-nature-connection" >
    <h2 id="pathways-to-nature-connection">Pathways to nature connection</h2>            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident aut iusto omnis, fuga quae explicabo a nam. Veniam quam similique cumque iure eos iste modi omnis facilis cum dignissimos?
        </section>
<section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=Tj2dbHofw4I"
                >
            <img class="media-embed-img" src="../../images/media-embed-demo/Light-and-sound-engineering-Youtube-image.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="Entertainment Engineering at the University of Derby" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
            </figure>
</section>

