

<div class="main-navigation-panel">
    <div class="main-navigation-panel-content">
        <div class="main-navigation-close">
            <a href="#" role="button" aria-label="Close Main Navigation">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
        <div class="main-navigation-desktop">
                                            <div id="menu-business-services" class="main-navigation-desktop-content main-navigation-panel-hidden">
                    <div class="main-navigation-title">
                        <div class="h3">Business Services</div>
                    </div>
                    <nav class="main-navigation">
                        <div class="main-navigation-principle-menu main-navigation-principle-menu-large">
                            <ul>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Developing People</div>
                                        <p>We can help you fill your skills shortages by developing and empowering your workforce with our flexible work-based learning solutions.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Funding, Services and Support</div>
                                        <p>You can develop your business using our expertise and resources, grants and loans, or free support.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Facilities and Services</div>
                                        <p>We have venues for conferences, meetings and events, plus first-class technological centres and research and development facilities.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Recruiting the Best Talent</div>
                                        <p>We want to connect your organisation to our talent. Our students and graduates can provide you with new ideas and energy.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Research and Expertise</div>
                                        <p>We are experts in applied research with a practical, business focus and can help you with project development.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Partnership Opportunities</div>
                                        <p>Join our growing network of high-quality corporate and academic partners.</p>
                                    </a>
                                </li>
                                                            </ul>
                        </div>
                                                <div class="main-navigation-actions-menu">
                                                    <div class="main-navigation-actions-menu-panel">
                                <div class="h5">Book an open day</div>
                                <p>Come and have a look around at one of our open days, wherre you can chat to the lecturers and view facilties.</p>
                                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Book an open day
            <span class="button-overlay"><span>
                        Book an open day
                    </span></span></a>                            </div>
                                                    </div>
                    </nav>
                </div>
                                    </div>
        <div class="main-navigation-mobile">
            <div class="main-navigation-inner-panel">
                                                                                                                                                    
                                    <section class="accordion accordion-scheme-dark">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="business-services-label" href="#business-services" class="accordion-tab-title-container collapse-toggle"
                data-collapse  data-group=""                 role="tab" aria-expanded="false" aria-controls="business-services">
                                <div class="accordion-tab-title h4">
                    Business Services
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </div>
                            </a>
            <div id="business-services" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="business-services-label">
                <div class="accordion-tab-content-inner">
                                            <div class="main-navigation-principle-menu">
                            <ul>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Developing People</div>
                                        <p>We can help you fill your skills shortages by developing and empowering your workforce with our flexible work-based learning solutions.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Funding, Services and Support</div>
                                        <p>You can develop your business using our expertise and resources, grants and loans, or free support.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Facilities and Services</div>
                                        <p>We have venues for conferences, meetings and events, plus first-class technological centres and research and development facilities.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Recruiting the Best Talent</div>
                                        <p>We want to connect your organisation to our talent. Our students and graduates can provide you with new ideas and energy.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Research and Expertise</div>
                                        <p>We are experts in applied research with a practical, business focus and can help you with project development.</p>
                                    </a>
                                </li>
                                                                <li>
                                    <a href="#">
                                        <div class="h6">Partnership Opportunities</div>
                                        <p>Join our growing network of high-quality corporate and academic partners.</p>
                                    </a>
                                </li>
                                                            </ul>
                        </div>
                        <div class="main-navigation-secondary-menu">
                                                                                </div>
                        <div class="main-navigation-actions-menu">
                                                    <div class="main-navigation-actions-menu-panel">
                                <a href="#" class="button-yellow" role="button" tabindex="0" data-scroll>
        Book an open day
            <span class="button-overlay"><span>
                        Book an open day
                    </span></span></a>                            </div>
                                                    </div>
                    
                </div>
            </div>
        </div>
            </div>
</section>


<style type="text/css">
    #udol-course-taster-exercise .accordion-tab:after {
        display: inline-block;
        transform: translate(0, 0);
        text-rendering: auto;
        font: normal normal 400 14px/1 uod-icons;
        font-size: inherit;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: "\ea0d";
        font-size: 2em;
        color: #101d49;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    #udol-course-taster-exercise .accordion-tab:last-child:after {
        content: '';
        padding-top: 0;
    }
</style>                            </div>
        </div>
    </div>
</div>

