

<div class="pagination-controls">
	<div class="pagination-controls-inner">
	    <!-- we can add up to here --> 
	    <a href="#">&lt;&lt;</a>
	    <a href="#">&lt;</a>
	    <a href="#">1</a>
	    <span class="currentpage">2</span> 
	    <a href="#">3</a> 
	    <a href="#">4</a> 
	    <a href="#">5</a> 
	    <a href="#">6</a> 
	    <a href="#">7</a> 
	    <a href="#">8</a> 
	    <a href="#">9</a> 
	    <a href="#">10</a>  
	    <a href="#">&gt;</a>
	    <a href="#">&gt;&gt;</a>
	    <!-- we can add after here -->
    </div>
</div>

