


<div class="pagination-controls">
	<div class="pagination-controls-inner">
	    <ul class="inline">
	    	<li><a href="#">&lt;&lt;</a></li>
		    <li><a href="#">&lt;</a></li>
		    <li><a href="#">1</a></li>
		    <li><span class="currentpage">2</span></li> 
		    <li><a href="#">3</a></li> 
		    <li><a href="#">4</a></li> 
		    <li><a href="#">5</a></li> 
		    <li><a href="#">6</a></li> 
		    <li><a href="#">7</a></li> 
		    <li><a href="#">8</a></li> 
		    <li><a href="#">9</a></li> 
		    <li>
		    	<a href="#">10</a>  
			    <a href="#">&gt;</a>
			    <a href="#">&gt;&gt;</a>
		    </li>
		</ul>
    </div>
</div>

