


<style>
    .label {
        color: magenta;
        display: block;
        margin: 3em 0 1em;
    }
</style>
<span class="label">Default</span>
<div class="pagination-controls">
	<div class="pagination-controls-inner pagination-controls-section-iterator">
	    <a href="#">Introduction</a>
	    <span class="spacer"></span>
	    <a href="#">Visual illusions</a>
    </div>
</div>
<span class="label">Next section only</span>
<div class="pagination-controls">
	<div class="pagination-controls-inner pagination-controls-section-iterator">
	    <span class="spacer"></span>
	    <a href="#">Visual illusions</a>
    </div>
</div>
<span class="label">Previous section only</span>
<div class="pagination-controls">
	<div class="pagination-controls-inner pagination-controls-section-iterator">
	    <a href="#">Introduction</a>
	    <span class="spacer"></span>
    </div>
</div>
