

<main class="center-align">
	<section class="pattern-hero pattern-hero-green pattern-hero-scheme-black content-scheme-black pattern-hero-with-content pattern-hero-search-in-page">
        <div class="pattern-hero-navigation">
                    </div>
    <div class="pattern-hero-content">
        <div class="pattern-hero-background-container" role="banner">
            <div class="pattern-hero-background-container-pattern pattern-hero-background-container-pattern-zigzag pattern-hero-background-container-pattern-white"></div>
        </div>
                <div class="pattern-hero-contents" id="content-start">
            <div class="pattern-hero-text-column">
                                <div class="pattern-hero-heading-wrapper">
                                            <h2 class="hero-style">Explore our short courses</h2>
                                    </div>
                            </div>
                                                </div>
    </div>
                        	    <div class="pattern-hero-search-content">
	        <div class="pattern-hero-search-content-container">
	            <form method="GET" action="">
	                <div class="search-input-group search-input-group-outline search-input-group-small">
            <label for="" class="search-input-label">Search courses</label>
        <input type="text" class="search-input" name="query" placeholder="">
                    <button class="search-button" type="button">
        <i class="uod-icons uod-icons-search"></i>
        <span class="search-button-overlay"><i class="uod-icons uod-icons-search"></i>search</span>
    </button>
</div>
	            </form>
	        </div>
	    </div>
	    <div class="pattern-hero-search-in-page-faux-background-fullbleed"></div>
	                    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "Explore our short courses",
                "publisher": {
            "@type": "CollegeOrUniversity",
            "name": "University of Derby"
        }
    }
    </script>
</section>
</main>
