

<section class="print-utility">
	       <a href="javascript:window.print()" class="button-outline button-large" role="button" tabindex="0" data-scroll>
        Print
            <span class="button-overlay"><span>
                        Print
                    </span></span></a>        <a href="mailto:?subject=PLACEHOLDER%20SUBJECT" class="button-outline button-large" role="button" tabindex="0" data-scroll>
        Email
            <span class="button-overlay"><span>
                        Email
                    </span></span></a></section>
