

<div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-turquoise">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-turquoise">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-3-stock-image.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>Lecturers constantly challenged us. We were encouraged to speak in front of more and more people, which made speaking in front of five ‘dragons’ a piece of cake! OK, maybe not a piece of cake, but it definitely helped me win over Jenny Campbell.</p></div>
					<div class="quote-name">Ed Hollands</div>
					<div class="quote-title">Business Studies BA graduate. Ed won a £30,000 investment on Dragons’ Den</div>
									</div>
			</div>
		</div>
	</section>
</div>
