

<div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-yellow">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-yellow">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-2-non-headshot.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>We have been very impressed with the Invest to Grow team - their clear guidance and expertise from day one has been second to none. Without them, we would have not been able to build the business to where it is now.</p></div>
					<div class="quote-name">Matt Francklow</div>
					<div class="quote-title">Managing Director, Creation Reprographics</div>
				</div>
			</div>
		</div>
	</section>
</div>
