

<!-- Start: @quote-block--default -->
<p style="color:magenta;">Variant: Headshot Primary Blue</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-primary-blue">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-primary-blue">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-1-headshot.jpg" alt="Headshot of Ryan Wheeler in a hardhat and flourescent jacket on a building site" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>It was the skills, attitude and professionalism that my course bestowed upon me that  allowed me to thrive, and to work over and above expectations to set myself up for a promising future.</p></div>
					<div class="quote-name">Ryan Wheeler</div>
					<div class="quote-title">Architectural Technology and Practice BSc</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--default -->

<!-- Start: @quote-block--non-headshot-1-green -->
<p style="color:magenta;">Variant: Non-headshot 1 Green</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-green">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-green">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-2-non-headshot.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>We have been very impressed with the Invest to Grow team - their clear guidance and expertise from day one has been second to none. Without them, we would have not been able to build the business to where it is now.</p></div>
					<div class="quote-name">Matt Francklow</div>
					<div class="quote-title">Managing Director, Creation Reprographics</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--non-headshot-1-green -->

<!-- Start: @quote-block--non-headshot-2-strawberry -->
<p style="color:magenta;">Variant: Non-headshot Strawberry</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-strawberry">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-strawberry">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-3-stock-image.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>Lecturers constantly challenged us. We were encouraged to speak in front of more and more people, which made speaking in front of five ‘dragons’ a piece of cake! OK, maybe not a piece of cake, but it definitely helped me win over Jenny Campbell.</p></div>
					<div class="quote-name">Ed Hollands</div>
					<div class="quote-title">Business Studies BA graduate. Ed won a £30,000 investment on Dragons’ Den</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--non-headshot-2-strawberry -->

<!-- Start: @quote-block--headshot-mid-blue -->
<p style="color:magenta;">Variant: Headshot Mid-blue</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-mid-blue">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-mid-blue">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-1-headshot.jpg" alt="Headshot of Ryan Wheeler in a hardhat and flourescent jacket on a building site" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>It was the skills, attitude and professionalism that my course bestowed upon me that  allowed me to thrive, and to work over and above expectations to set myself up for a promising future.</p></div>
					<div class="quote-name">Ryan Wheeler</div>
					<div class="quote-title">Architectural Technology and Practice BSc</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--headshot-mid-blue -->

<!-- Start: @quote-block--non-headshot-1-yellow -->
<p style="color:magenta;">Variant: Non-headshot 1 Yellow</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-yellow">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-yellow">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-2-non-headshot.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>We have been very impressed with the Invest to Grow team - their clear guidance and expertise from day one has been second to none. Without them, we would have not been able to build the business to where it is now.</p></div>
					<div class="quote-name">Matt Francklow</div>
					<div class="quote-title">Managing Director, Creation Reprographics</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--non-headshot-1-yellow -->

<!-- Start: @quote-block--non-headshot-2-turqoise -->
<p style="color:magenta;">Variant: Non-headshot Turqoise</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-turquoise">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-turquoise">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-3-stock-image.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>Lecturers constantly challenged us. We were encouraged to speak in front of more and more people, which made speaking in front of five ‘dragons’ a piece of cake! OK, maybe not a piece of cake, but it definitely helped me win over Jenny Campbell.</p></div>
					<div class="quote-name">Ed Hollands</div>
					<div class="quote-title">Business Studies BA graduate. Ed won a £30,000 investment on Dragons’ Den</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--non-headshot-2-turqoise -->

<!-- Start: @quote-block--headshot-orange -->
<p style="color:magenta;">Variant: Headshot Orange</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-orange">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-orange">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-1-headshot.jpg" alt="Headshot of Ryan Wheeler in a hardhat and flourescent jacket on a building site" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>It was the skills, attitude and professionalism that my course bestowed upon me that  allowed me to thrive, and to work over and above expectations to set myself up for a promising future.</p></div>
					<div class="quote-name">Ryan Wheeler</div>
					<div class="quote-title">Architectural Technology and Practice BSc</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--headshot-orange -->

<!-- Start: @quote-block--non-headshot-2-green-blue -->
<p style="color:magenta;">Variant: Non-headshot Green Blue</p><div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-green-blue">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-green-blue">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-3-stock-image.jpg" alt="A printing machine, printing yellow labels" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>Lecturers constantly challenged us. We were encouraged to speak in front of more and more people, which made speaking in front of five ‘dragons’ a piece of cake! OK, maybe not a piece of cake, but it definitely helped me win over Jenny Campbell.</p></div>
					<div class="quote-name">Ed Hollands</div>
					<div class="quote-title">Business Studies BA graduate. Ed won a £30,000 investment on Dragons’ Den</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End: @quote-block--non-headshot-2-green-blue -->

