

<div class="basic-quote-container">
	<section class="basic-quote basic-quote-left-align basic-quote-default">
		<div class="basic-quote-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-orange">
			<div class="basic-quote-pattern-background" role="presentation"></div>
		</div>
			<div class="basic-quote-panel">
				<div class="basic-quote-image-container">
					<div class="basic-quote-mobile-backdrop basic-quote-pattern basic-quote-pattern-diagonal basic-quote-pattern-orange">
						<div class="basic-quote-pattern-mobile-background" role="presentation"></div>
						<img src="../../images/quote-block/example-1-headshot.jpg" alt="Headshot of Ryan Wheeler in a hardhat and flourescent jacket on a building site" />
					</div>
				</div>
				<div class="basic-quote-panel-inner">
					<div class="quote-text"><p>It was the skills, attitude and professionalism that my course bestowed upon me that  allowed me to thrive, and to work over and above expectations to set myself up for a promising future.</p></div>
					<div class="quote-name">Ryan Wheeler</div>
					<div class="quote-title">Architectural Technology and Practice BSc</div>
									</div>
			</div>
		</div>
	</section>
</div>
