

<div class="main-navigation-panel">
    <div class="main-navigation-panel-content">
        <div class="main-navigation-close">
            <a href="#" class="js-header-navigation-search" role="button" aria-label="Close Search Navigation">
                <i class="uod-icons uod-icons-cross"></i>
            </a>
        </div>
        <div class="site-search-title">
            <div class="h3">Search</div>
        </div>
        <div class="site-search-inner-panel">
            <div class="site-search-input">
                <div class="search-input-group">
            <label for="" class="search-input-label">Search</label>
        <input type="text" class="search-input" name="query" placeholder="">
                    <button class="search-button" type="button">
        <i class="uod-icons uod-icons-search"></i>
        <span class="search-button-overlay"><i class="uod-icons uod-icons-search"></i>search</span>
    </button>
</div>
            </div>
        </div>
    </div>
</div>

