

<section class="form-wrapper social-hub-filter" id="hub">
    <form>
        <div class="form-group">
	<label for="social-hub-menu">Choose a feed:</label>
		<div>
		<select class="form-control" id="social-hub-menu" name="social-hub-menu">
			<option value="">-- Please choose --</option>
															<option value="30973" selected>Official #DerbyUni</option>
															<option value="49875">Union of Students</option>
															<option value="68646">#DerbyUniSuccess</option>
															<option value="68647">University life</option>
															<option value="68464">#DerbyGrad</option>
															<option value="67808">Business, Law and Social Sciences</option>
															<option value="73879">Arts, Humanities and Education</option>
															<option value="73882">Engineering and Technology</option>
															<option value="73881">Health and Social Care</option>
															<option value="73880">Life and Natural Sciences</option>
					</select>
	</div>
	</div>    </form>
</section>
<!-- Stackla Widget Embed Code (start) -->
<section class="stackla-widget__container">
    <div class="stackla-widget" data-alias="universityofderby.stackla.com" data-ct="" data-hash="596de4f0c51e9" data-id="26780" data-title="Main UoD channels social media" data-ttl="30"></div>
    <script type="text/javascript">
        (function(d, id) {
            var t, el = d.scripts[d.scripts.length - 1].previousElementSibling;
            if (el) el.dataset.initTimestamp = (new Date()).getTime();
            if (d.getElementById(id)) return;
            t = d.createElement('script');
            t.src = '//assetscdn.stackla.com/media/js/widget/fluid-embed.js';
            t.id = id;
            (d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(t);
        }(document, 'stackla-widget-js'));
    </script>
    <!-- Stackla Widget Embed Code (end) -->
    <div class="spinner"></div>
</section>

