

<section class="teaser-group-listing">
	        <section class="text-block" role="region"  aria-labelledby="you-may-be-interested-in" >
    <h2 id="you-may-be-interested-in">You may be interested in</h2>                    </section>
    	<div class="teaser-listing-container" style="margin-top: -3.5em;">
		<!-- Loading spinner goes here -->
		<div class="teaser-listing">
			<div class="gutter-sizer"></div>
			<div class="masonry-sizer"></div>

						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<img src="https://www.derby.ac.uk/media/derbyacuk/assets/homepage/Homepage-University-promo-(1).jpg" alt="">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Case Study</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Satisfaction, happiness and our connection to nature</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">Many studies have shown that a stronger connection to nature increases a person’s life satisfaction and happiness, at the same time as lowering their anxiety levels.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<img src="https://www.derby.ac.uk/media/derbyacuk/assets/homepage/virtual-tour-promo-image.jpg" alt="">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Undergraduate Course</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Business and Management BSc (Hons) degree</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">News</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">University of Derby students win national bursary for engineering talent</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">Many studies have shown that a stronger connection to nature increases a person’s life satisfaction and happiness, at the same time as lowering their anxiety levels.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content ">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Undergraduate Course</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Business and Management BSc (Hons) degree</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<img src="https://www.derby.ac.uk/media/derbyacuk/assets/homepage/UG19Prosp-Keyvis-396.jpg" alt="">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">News</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">University of Derby students win national bursary for engineering talent</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">Many studies have shown that a stronger connection to nature increases a person’s life satisfaction and happiness, at the same time as lowering their anxiety levels.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Undergraduate Course</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Business and Management BSc (Hons) degree</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
					</div>
	</div>
</section>
