

<section class="component link-list text-block" data-component="text-triptych" data-hascss="true">
    <h2 class="h2">Fees and Finance</h2>
    <p>Discover the support available to you for your fees, finance, and scholarship applications, as well as how to pay your fees while you're here.</p>

    <div class="link-list-links-container" >

                <a href="" class="link-list-link-item">
            <h3 class="h3">Tuition and Living Costs</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga eius laborum architecto minima consequuntur fugit est.</p>
            <div class="triptych-list-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
        </a>
                <a href="" class="link-list-link-item">
            <h3 class="h3">Scholarships</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga eius laborum architecto minima consequuntur fugit est.</p>
            <div class="triptych-list-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
        </a>
                <a href="" class="link-list-link-item">
            <h3 class="h3">Paying your fees</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga eius laborum architecto minima consequuntur fugit est.</p>
            <div class="triptych-list-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
        </a>
            </div>
</section>
