.video-hero-search {
    @include margin-medium;

    &-content {
        @include full-bleed-inset;

        padding-top: $margin-small;
        padding-bottom: $margin-small;

        &-container {
            lost-column: 8/8;

            @include for-tablet-portrait-up {
                lost-offset: 1/16;
                lost-column: 14/16;
            }

            @include for-desktop-up {
                lost-offset: 3/16;
                lost-column: 9/16;
            }
        }
    }

    .video-hero {

        &-text-column {
            lost-column: 8/8;
            margin-bottom: .2em;
            flex-basis: auto;
             
            @include for-tablet-portrait-up {
                lost-offset: 1/16;
                lost-column: 14/16;
                flex-basis: auto;
            }

            @include for-desktop-up {
                lost-offset: 3/16;
                lost-column: 10/16;
                flex-basis: auto;
            }
        }

        &-search-content {
            padding: 0 0 80px 0;
            @include autocomplete-in-page-search;
        }
    }

    h1 {
        &::after {
            margin-bottom: 0;
        }
    }

    &.new-campaign-poc {

        .video-hero-text-column {
            margin-left: 0 !important;
        }

        h1 {
            line-height: 1;
            color: $pink;
            background: #030303;
            box-shadow: 7px 0 0 #030303, (7px * -1) 0 0 #030303;
        }

        .video-hero-search-content-container {

            @include for-tablet-portrait-up {
                lost-offset: 0/16;
            }

            @include for-tablet-landscape-up { 
                lost-column: 10/16;
                flex-basis: auto;
            }

            @include for-desktop-up {
                lost-offset: 0/16;
                lost-column: 9/16;
                flex-basis: auto;
            }

            max-width: 800px !important;
        }
    }
}
