
.media-gallery{
    lost-column: 8/8;
    @include margin-medium;

    @include for-largerthan-ipad-portrait {
        lost-column: 16/16;
        @include margin-large;
    }

    @include for-desktop-up {
        lost-offset: 2/16;
        lost-column: 12/16;
    }

    > .text-block {
        @include margin-small;

        @include for-desktop-up {
            lost-offset: 1/12;
            lost-column: 10/12;
        }
    }

    &-images {
        display: flex;
        flex-wrap: wrap;
        lost-utility: clearfix;

        &:before{
            width: 0; //fixes bug in safari at certain browser widths
        }
    }

    &-image-inner {
        position: relative;
        display: block;
        padding-top: 66.7%;
        height: 0;
        overflow: hidden;
    }

    &-image-a {
        lost-column: 4/8 2 10px;
        margin-bottom: 10px;
        cursor: pointer;
        @include disable-underlines();
        position: relative;
        display: block;

        @include for-largerthan-ipad-portrait {
            lost-column: 4/16 4 10px;
        }

        @include for-desktop-up {
            lost-column: 3/12 4 10px;
        }

        &:hover {

            .media-gallery-image-a-overlay{
                opacity: 1;
                background-color: rgba($black, 0.65);

                > i {
                    opacity: 1;
                }
            }
        }

        &-img {
            max-width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        &-overlay {
            background-color: rgba($black, 0);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: background-color 0.15s $default-animation-curve;
            z-index: 2;

            > i {
                left: 50%;
                margin-left: -17px;
                margin-top: -17px;
                opacity: 0;
                position: absolute;
                top: 50%;
                font-size: 34px;
                color: #FFFFFF;
                transition: opacity 0.3s $default-animation-curve;
            }
        }
    }
}

.uod-icons-360-image {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 22.5%;
    z-index: 1;
    background: rgba($black, 0.6);
    border-radius: 100%;
    border: 1px solid rgba($black, 0.6);
}


