.component.quick-search {
	position: relative;
   // mixin that sets a consistent columns width
    @include uod-text-column;
    
    // start: set default intra-component spacing (units are responsive and based on em values)
    @include margin-medium;
    
    @include for-tablet-portrait-up {
        @include margin-large;
    }
    // end: set default intra-component spacing (units are responsive and based on em values)

    @include for-desktop-up {
        table {
            lost-offset: -2/16;
            lost-column: 20/16;
        }
	}

	ul li.hidden {
		display:  none;
	}

	.quick-search-results-container {
		padding: 0;
		margin: 0;
		border:  2px solid var(--primary-blue);
		border-top:  0;
		margin-top:  0;
	    position:  absolute;
	    width:  100%;
	    max-height: 25vh;
	    z-index: 3;
	    background-color: white;
	    overflow: scroll;
	}

	.search-result-text {
		display:  flex;
		flex-direction: row;
		align-items: center;
		padding: 12px;
		border-bottom: 1px dashed var(--light-grey);
		margin: 0;
	}

	.prospectus-add {
		margin-left: auto;
		justify-self: flex-end;
	}

}