.footer {
    --component-background: var(--theme-accent);
    --component-text:       var(--theme-background);
    --component-accent:     var(--theme-accent-alt);

    &-dark-container {
        background: var(--component-background);
    }

    &-inner {
        @include full-bleed-inset;

        background-repeat: no-repeat;
        background-position: right 30px top 0;
        background-size: 280px 442px;
        display: grid;
        grid-template-columns: 1fr 50%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "menu1 map"
            "menu2 map"
            "menusocial map"
            "menu3 map";

        padding-top: 16px;
        padding-bottom: 16px;
        min-height: 443px;
        
        @include footer-menu-break {
            grid-template-areas:
            "menu1 menu1"
            "menu2 map"
            "menusocial menusocial"
            "menu3 menu3";
        }

        .footer-inner-map {
            grid-area: map;
        }

        .footer-submenu-one {
            grid-area: menu1;
        }

        .footer-submenu-two {
            grid-area: menu2;
        }
        .footer-submenu-three {
            grid-area: menu3;
        }
        .footer-submenu-social-media {
            grid-area: menusocial;
        }
        a {
            @include underline-only-on-hover;
            @include link-colour($white);
        }

        @include for-phone-only {
            background-size: 231px 365px;
            min-height: 365px;
            background-position-y: #{ 20px +  90px + 40px};
            background-position-x: calc(100% - 16px);
        }

        @include for-tablet-portrait-up {
            grid-template-columns: 1fr 17.5%;
            padding-top: 30px;
            padding-bottom: 30px;
            background-position-x: calc(100% - 30px);
        }

        @include for-desktop-up {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &,
        & a {
            font-family: $header-font;
        }

        ul {
            list-style-type: none;

            li {
                list-style-type: none; 
            }
        }
    }

    &-menuitem {
        margin: 0;

        &:last-child .footer-link-separator {
            border-left-width: 0;
        }
    }

    &-brand-logo {
        margin-right: max(40px, 0px);
        margin-bottom: 40px;

        @include for-desktop-up {
            margin-bottom: 26px;
        }

        @include footer-menu-break {
            margin-right: 0px;
        }

        @include for-up-to-ipad-portrait {
            svg {
                height: 80px;
            }
        }
    }

    &-link {
        white-space: nowrap;
    }

    &-link-separator {
        display: inline-block;
        border-left: solid 2px var(--component-accent-alt);
        width: 1px;
        height: 1.5em;
        vertical-align: middle;
        content: '';
    }

    &-submenu-one {
        display: grid;
        grid-template-columns: auto 1fr;
        line-height: 1.69;
        font-size: 16px;
        font-weight: bold;
        align-items: start;

        &-menu {
            display: flex;
            flex-wrap: wrap;
            column-gap: 8px;
            margin: 0;
            margin-bottom: 40px;
            padding: 0;
            
            @include footer-menu-break {
                column-gap: 8px;
                font-size: 0.8rem;
            }

            .button-v2 {
                padding: 0.2rem 0.3rem;
                margin-bottom: 8px;
            }

            .button-v2, .button-v2 .button-text {
                @include footer-menu-break {
                    column-gap: 8px;
                    font-size: 0.8rem;
                }
            }
            .footer-menuitem > a {
                margin: 0 1em;
                text-transform: uppercase;
            }
            
        }
    }

    &-submenu-two,
    &-submenu-three {
        display: flex;
        justify-content: flex-start;
        margin: 0 -14px;
        font-family: $header-font;

        &-menu {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;

            .footer-menuitem > a {
                margin: 0 14px;
            }

            @include for-tablet-portrait-up {
                //padding-right: 8em;
            }
        }
    }

    &-submenu-two {
        margin-bottom: 10px;
        line-height: 2.67;
        font-size: 18px;
        font-weight: bold;

        @include footer-menu-break {
            margin-bottom: 0;

            &-menu {
                flex-direction: column;
                margin-bottom: 26px;
                width: 100%;

                .footer-menuitem > a {
                    display: block;

                    &::before {
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        opacity: .3;
                        border-bottom: solid 1px $light-grey;
                        width: 100%;
                        content: '';
                    }
                }
            }

            .footer-link-separator {
                display: none;
            }
        }
    }

    &-submenu-three {
        line-height: 3.2;
        font-size: 15px;
    }

    &-submenu-social-media {
        display: flex;
        justify-content: flex-start;
        margin: 30px -10px 20px;

        &-menu {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;

            a {
                margin: 0 10px 20px;
            }

            .uod-icons {
                font-size: 26px;
            }

            .accessible-label {
                font-size: 0;
            }
        }
    }

    &-accolades {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &-image {
            height: 50px;
        }

        a {
            @include disable-underlines;
        }
    }
}

#footer-map {
    fill: var(--component-accent);
}

#london-circle, #derby-circle {
    fill: var(--component-text);
}

.footer-image-text {
    fill: var(--component-text);
}

.theme-pink .footer {
    /** Button colours **/
    --buttontextdefault:  var(--white);
    --buttontexthover:    var(--pink);
    --buttondefault:      var(--pink);
    --buttonhover:        var(--white);
    --buttonborder:       var(--pink);

    --component-background: var(--theme-text);
    --component-text:       var(--theme-background);
    --component-accent:     var(--theme-accent);
    --component-accent-alt: var(--theme-accent-alt);
}