

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UDOL course taster exercise | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lhr5len.css">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>

    <main class="center-align">
        <section class="accordion" id="udol-course-taster-exercise">
            <div class="accordion-tablist" role="tablist">
                <div class="accordion-tab">
            <a id="change-blindness-label" href="#change-blindness" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="change-blindness">
                                <h4 class="accordion-tab-title">
                    Change blindness
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="change-blindness" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="change-blindness-label">
                <div class="accordion-tab-content-inner">
                    A change in a visual stimulus is introduced and the observer does not notice it.
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="inattentional-blindness-label" href="#inattentional-blindness" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="inattentional-blindness">
                                <h4 class="accordion-tab-title">
                    Inattentional blindness
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="inattentional-blindness" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="inattentional-blindness-label">
                <div class="accordion-tab-content-inner">
                    Attention is diverted to another object or task so observers often fail to perceive an unexpected object, even if it appears at fixation.
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="perceptual-sets-label" href="#perceptual-sets" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="perceptual-sets">
                                <h4 class="accordion-tab-title">
                    Perceptual sets
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="perceptual-sets" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="perceptual-sets-label">
                <div class="accordion-tab-content-inner">
                    Going beyond the information given and using prior knowledge to perceive stimuli in a certain way.
                </div>
            </div>
        </div>
                <div class="accordion-tab">
            <a id="perception-label" href="#perception" class="accordion-tab-title-container collapse-toggle"
                data-collapse                 role="tab" aria-expanded="false" aria-controls="perception">
                                <h4 class="accordion-tab-title">
                    Perception
                    <span class="accordion-tab-title-indicator">
                        <i class="uod-icons uod-icons-chevron-down"></i>
                    </span>
                </h4>
                            </a>
            <div id="perception" class="accordion-tab-content collapse" role="tabpanel" aria-labelledby="perception-label">
                <div class="accordion-tab-content-inner">
                    The way in which we interpret the information gathered (and processed) by the senses. We sense the presence of a stimulus, but we perceive what it is.
                </div>
            </div>
        </div>
            </div>
</section>


<style type="text/css">
    #udol-course-taster-exercise .accordion-tab:after {
        display: inline-block;
        transform: translate(0, 0);
        text-rendering: auto;
        font: normal normal 400 14px/1 uod-icons;
        font-size: inherit;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        content: "\ea0d";
        font-size: 2em;
        color: #101d49;
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }

    #udol-course-taster-exercise .accordion-tab:last-child:after {
        content: '';
        padding-top: 0;
    }
</style>
    </main>

    <!-- if not internet explorer use jquery-3.3.1.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 9 or above use jquery-3.3.1.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 8 or less jquery-3.3.1.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.14/jquery.min.js"></script>
    <!-- <![endif]-->

    <script src="../../app.js"></script>
    <script src="../../visualiser.js"></script>
</body>
</html>

