

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Joint Honours | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>

    <main class="center-align">
        <section class="form-wrapper">
            <h2>You are applying for:</h2><h3>Accounting (Joint Honours)</h3>
                <p>
            <a href="https://registration.derby.ac.uk/psp/HPRDOLA2/EMPLOYEE/EMPL/h/?tab=UD_OLA_COURSE_SELECTION&PGR=Y002&PN1=AG" class="button-blue button-large" role="button" tabindex="0" data-scroll>
        Start application
    <i class="button-icon uod-icons uod-icons-external-link"></i><span class="button-overlay"><span>
                        Start application
            <i class="button-icon uod-icons uod-icons-external-link"></i></span></span></a>        </p>
        <form id="apply-online-form">
        <h3>or change course</h3>                                    <div class="form-group field-required">
	<label for="courseTypes">Course type<span class="required">*</span></label>
		<div>
		<select class="form-control" id="courseTypes" name="courseTypes" required>
			<option value="">-- Please choose --</option>
															<option value="undergraduate" selected>Undergraduate</option>
															<option value="postgraduate">Postgraduate</option>
															<option value="professional">Professional</option>
															<option value="short-course">Short course</option>
															<option value="online">Online</option>
					</select>
	</div>
	</div> 
                    <div class="apply-online-course-list preselected" id="undergraduate-apply-online-course-list">
                                                                    <div class="form-group">
	<label for="undergraduate-courses">Undergraduate courses</label>
		<div>
		<select class="form-control apply-online-course-select" id="undergraduate-courses" name="undergraduate">
			<option value="">-- Please choose --</option>
											 
																																			<option value="132" data-program-code="Y002" data-joint-honours-code="AG">Accounting (Joint Honours)</option>
											 
																																			<option value="543" data-program-code="N400" data-joint-honours-code="">Accounting and Finance BA (Hons)</option>
											 
																																			<option value="745" data-program-code="N412,Undergraduate" data-joint-honours-code="">Accounting and Finance Integrated Masters MAccFin</option>
											 
																																			<option value="586" data-program-code="J901,Without industrial year|H293,With industrial year" data-joint-honours-code="">Civil and Infrastructure Engineering BEng (Hons)</option>
					</select>
	</div>
	</div>            </div>
                    <div class="apply-online-course-list" id="postgraduate-apply-online-course-list">
                                                                    <div class="form-group">
	<label for="postgraduate-courses">Postgraduate courses</label>
		<div>
		<select class="form-control apply-online-course-select" id="postgraduate-courses" name="postgraduate">
			<option value="">-- Please choose --</option>
											 
																																			<option value="2560" data-program-code="MN4AB" data-joint-honours-code="">Accounting and Finance MSc</option>
											 
																																			<option value="2561" data-program-code="2561" data-joint-honours-code="">Advanced Computer Networks MSc</option>
					</select>
	</div>
	</div>            </div>
                    <div class="apply-online-course-list" id="professional-apply-online-course-list">
                                                                    <div class="form-group">
	<label for="professional-courses">Professional courses</label>
		<div>
		<select class="form-control apply-online-course-select" id="professional-courses" name="professional">
			<option value="">-- Please choose --</option>
											 
																																			<option value="3327" data-program-code="MY0AF,Level 7" data-joint-honours-code="">Advanced Communication</option>
											 
																																			<option value="3328" data-program-code="MY0AF,Level 7" data-joint-honours-code="">Advanced Technology</option>
					</select>
	</div>
	</div>            </div>
                    <div class="apply-online-course-list" id="short-course-apply-online-course-list">
                                                                    <div class="form-group">
	<label for="short-course-courses">Short courses</label>
		<div>
		<select class="form-control apply-online-course-select" id="short-course-courses" name="short-course">
			<option value="">-- Please choose --</option>
											 
																																			<option value="7622" data-program-code="UN4AA" data-joint-honours-code="">ACCA Revision Classes</option>
											 
																																			<option value="3331" data-program-code="CPDAZ,Level 7" data-joint-honours-code="">An Introduction to Art Therapy Supervision</option>
					</select>
	</div>
	</div>            </div>
                    <div class="apply-online-course-list" id="online-apply-online-course-list">
                                                                    <div class="form-group">
	<label for="online-courses">Online courses</label>
		<div>
		<select class="form-control apply-online-course-select" id="online-courses" name="online">
			<option value="">-- Please choose --</option>
											 
																																			<option value="132" data-program-code="N401" data-joint-honours-code="">Accounting and Finance BA (Hons) Top-Up degree</option>
											 
																																			<option value="13612" data-program-code="UC8AG" data-joint-honours-code="">Psychology BSc (Hons)</option>
					</select>
	</div>
	</div>            </div>
                <noscript>
            <style>.apply-online-course-list{display: none;}</style>
                                                    <div class="form-group field-required">
	<label for="all-courses">Courses<span class="required">*</span></label>
		<div>
		<select class="form-control" id="all-courses" name="section_id" required>
			<option value="">-- Please choose --</option>
															<option value="">- Undergraduate courses -</option>
											 
																																			<option value="132" data-program-code="Y002" data-joint-honours-code="AG">Accounting (Joint Honours)</option>
											 
																																			<option value="543" data-program-code="N400" data-joint-honours-code="">Accounting and Finance BA (Hons)</option>
											 
																																			<option value="745" data-program-code="N412,Undergraduate" data-joint-honours-code="">Accounting and Finance Integrated Masters MAccFin</option>
											 
																																			<option value="586" data-program-code="J901,Without industrial year|H293,With industrial year" data-joint-honours-code="">Civil and Infrastructure Engineering BEng (Hons)</option>
															<option value="">- Postgraduate courses -</option>
											 
																																			<option value="2560" data-program-code="MN4AB" data-joint-honours-code="">Accounting and Finance MSc</option>
											 
																																			<option value="2561" data-program-code="2561" data-joint-honours-code="">Advanced Computer Networks MSc</option>
															<option value="">- Professional courses -</option>
											 
																																			<option value="3327" data-program-code="MY0AF,Level 7" data-joint-honours-code="">Advanced Communication</option>
											 
																																			<option value="3328" data-program-code="MY0AF,Level 7" data-joint-honours-code="">Advanced Technology</option>
															<option value="">- Short courses -</option>
											 
																																			<option value="7622" data-program-code="UN4AA" data-joint-honours-code="">ACCA Revision Classes</option>
											 
																																			<option value="3331" data-program-code="CPDAZ,Level 7" data-joint-honours-code="">An Introduction to Art Therapy Supervision</option>
															<option value="">- Online courses -</option>
											 
																																			<option value="132" data-program-code="N401" data-joint-honours-code="">Accounting and Finance BA (Hons) Top-Up degree</option>
											 
																																			<option value="13612" data-program-code="UC8AG" data-joint-honours-code="">Psychology BSc (Hons)</option>
					</select>
	</div>
	</div>        </noscript>
        <div class="submitButtons">
            <button class="button-blue" role="button" type="submit" tabindex="0" data-scroll>
        Submit
            <span class="button-overlay"><span>
                        Submit
                    </span></span></button>        </div>
    </form>
    <br><br>
    <h3>or continue an existing application</h3>
    <p>If you've started your application already, use the link on the right to access and complete your application form using your username and password.</p>
    <p>
        <a href="https://registration.derby.ac.uk/psp/HPRDOLA2/EMPLOYEE/EMPL/h/?tab=UD_OLA_LOGIN" class="button-blue button-large" role="button" tabindex="0" data-scroll>
        Continue application
    <i class="button-icon uod-icons uod-icons-external-link"></i><span class="button-overlay"><span>
                        Continue application
            <i class="button-icon uod-icons uod-icons-external-link"></i></span></span></a>    </p>
    <h3>Forgotten your password or username?</h3>
    <p>If you've forgotten your username or password choose "Continue application" above and then "Forgot password?" to access your account.</p>
</section>
    </main>

    <!-- if not internet explorer use jquery-3.3.1.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 9 or above use jquery-3.3.1.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 8 or less jquery-3.3.1.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.14/jquery.min.js"></script>
    <!-- <![endif]-->

    <script src="../../app.js"></script>
</body>
</html>

