

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Default | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lhr5len.css">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>

    <main class="center-align">
        <section class="form-wrapper">
	<h2>Form title</h2>
	<form action="#"> 
		<div class="form-group">
	<label for="text-single-line">Text - single line</label>
		<div>
		<input id="text-single-line" name="text-single-line" class="form-control" type="text" aria-label="Text - single line">
	</div>
	</div>	    <div class="form-group">
	<label for="text-single-line-placeholder">Text - single line with placeholder text</label>
		<div>
		<input id="text-single-line-placeholder" name="text-single-lineplaceholder" class="form-control" type="text" placeholder="This is placeholder text" aria-label="Text - single line with placeholder text">
	</div>
	</div>		<div class="form-group">
	<label for="textarea">Text - multiple lines</label>
		<div>
		<textarea id="textarea" name="textarea" class="form-control"  rows="3" aria-label="Text - multiple lines"></textarea>
	</div>
	</div>		<div class="form-group">
	<label for="email">Email</label>
		<div>
		<input id="email" name="email" class="form-control" type="email" aria-label="Email">
	</div>
	</div>	    <div class="form-group">
	<label for="number">Number</label>
		<div>
		<input id="number" name="number" class="form-control" type="number" aria-label="Number">
	</div>
	</div>		<div class="form-group">
	<label for="dropdown">Dropdown</label>
		<div>
		<select class="form-control" id="dropdown" name="dropdown">
			<option value="">-- Please choose --</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
					</select>
	</div>
	</div>		<div class="form-group">
	<fieldset id="radio-single-choice">
		<legend>Radio - single choice</legend>
				<div>
							<div class="radio radio-pretty">
					<label for="radio-choice-one">
						<input id="radio-choice-one" type="radio" name="radio-single-choice" value="Choice 1" aria-label="Radio - single choice - choice 1" checked> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-two">
						<input id="radio-choice-two" type="radio" name="radio-single-choice" value="Choice 2" aria-label="Radio - single choice - choice 2"> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-three">
						<input id="radio-choice-three" type="radio" name="radio-single-choice" value="Choice 3" aria-label="Radio - single choice - choice 3"> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <div class="form-group">
	<fieldset id="radio-single-choice-inline">
		<legend>Radio - single choice inline</legend>
				<div>
							<div class="radio radio-pretty radio-inline">
					<label for="radio-choice-one-inline">
						<input id="radio-choice-one-inline" type="radio" name="radio-single-choice-inline" value="Choice A" aria-label="Radio - single choice inline - choice A" checked> 
						<span></span>
						Choice A					</label>
				</div>
							<div class="radio radio-pretty radio-inline">
					<label for="radio-choice-two-inline">
						<input id="radio-choice-two-inline" type="radio" name="radio-single-choice-inline" value="Choice B" aria-label="Radio - single choice inline - choice B"> 
						<span></span>
						Choice B					</label>
				</div>
							<div class="radio radio-pretty radio-inline">
					<label for="radio-choice-three-inline">
						<input id="radio-choice-three-inline" type="radio" name="radio-single-choice-inline" value="Choice C" aria-label="Radio - single choice inline - choice C"> 
						<span></span>
						Choice C					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <div class="form-group">
	<fieldset id="checkbox-multiple-choice">
		<legend>Checkbox - multiple choice</legend>
				<div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-one">
						<input id="checkbox-choice-one" type="checkbox" name="checkbox-multiple-choice" value="Choice 1" aria-label="Checkbox - multiple choice - choice 1"> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-two">
						<input id="checkbox-choice-two" type="checkbox" name="checkbox-multiple-choice" value="Choice 2" aria-label="Checkbox - multiple choice - choice 2"> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-three">
						<input id="checkbox-choice-three" type="checkbox" name="checkbox-multiple-choice" value="Choice 3" aria-label="Checkbox - multiple choice - choice 3"> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <div class="form-group">
	<fieldset id="checkbox-multiple-choice-inline">
		<legend>Checkbox - multiple choice inline</legend>
				<div>
							<div class="checkbox checkbox-pretty checkbox-inline">
					<label for="checkbox-choice-one-inline">
						<input id="checkbox-choice-one-inline" type="checkbox" name="checkbox-multiple-choice-inline" value="Choice 1" aria-label="Checkbox - multiple choice inline - choice 1"> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="checkbox checkbox-pretty checkbox-inline">
					<label for="checkbox-choice-two-inline">
						<input id="checkbox-choice-two-inline" type="checkbox" name="checkbox-multiple-choice-inline" value="Choice 2" aria-label="Checkbox - multiple choice inline - choice 2"> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="checkbox checkbox-pretty checkbox-inline">
					<label for="checkbox-choice-three-inline">
						<input id="checkbox-choice-three-inline" type="checkbox" name="checkbox-multiple-choice-inline" value="Choice 3" aria-label="Checkbox - multiple choice inline - choice 3"> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>		<hr>
		<h3>Form section - required fields</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, sunt consectetur, corporis ipsum eveniet nemo, architecto molestias quia fuga cumque nesciunt est asperiores, doloribus amet saepe magni a neque aspernatur?</p>
		<div class="form-group field-required">
	<label for="text-single-line-required">Text - single line required<span class="required">*</span></label>
		<div>
		<input id="text-single-line-required" name="text-single-line-required" class="form-control" type="" aria-label="Text - single line required" required>
	</div>
	</div>		<div class="form-group field-required">
	<label for="textarea-required">Text - multiple lines required<span class="required">*</span></label>
		<div>
		<textarea id="textarea-required" name="textarea-required" class="form-control"  rows="3" aria-label="Text - multiple lines required" required></textarea>
	</div>
	</div>	    <div class="form-group field-required">
	<label for="dropdown-required">Dropdown required<span class="required">*</span></label>
		<div>
		<select class="form-control" id="dropdown-required" name="dropdown-required" required>
			<option value="">-- Please choose --</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
					</select>
	</div>
	</div>		<div class="form-group field-required">
	<fieldset id="radio-single-choice-required">
		<legend>Radio - single choice required<span class="required">*</span></legend>
				<div>
							<div class="radio radio-pretty">
					<label for="radio-choice-one-required">
						<input id="radio-choice-one-required" type="radio" name="radio-single-choice-required" value="Choice 1" aria-label="Radio - single choice - choice 1" checked required> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-two-required">
						<input id="radio-choice-two-required" type="radio" name="radio-single-choice-required" value="Choice 2" aria-label="Radio - single choice - choice 2" required> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-three-required">
						<input id="radio-choice-three-required" type="radio" name="radio-single-choice-required" value="Choice 3" aria-label="Radio - single choice - choice 3" required> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <div class="form-group field-required">
	<fieldset id="checkbox-multiple-choice-required">
		<legend>Checkbox - multiple choice required<span class="required">*</span></legend>
				<div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-one-required">
						<input id="checkbox-choice-one-required" type="checkbox" name="checkbox-multiple-choice-required" value="Choice 1" aria-label="Checkbox - multiple choice required - choice 1" required> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-two-required">
						<input id="checkbox-choice-two-required" type="checkbox" name="checkbox-multiple-choice-required" value="Choice 2" aria-label="Checkbox - multiple choice required - choice 2" required> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-three-required">
						<input id="checkbox-choice-three-required" type="checkbox" name="checkbox-multiple-choice-required" value="Choice 3" aria-label="Checkbox - multiple choice required - choice 3" required> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <hr>
		<h3>Form section - required fields - with errors</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, sunt consectetur, corporis ipsum eveniet nemo, architecto molestias quia fuga cumque nesciunt est asperiores, doloribus amet saepe magni a neque aspernatur?</p>
		<div class="form-group field-required has-error">
	<label for="text-single-line-required-error">Text - single line required with error<span class="required">*</span></label>
		<div>
		<input id="text-single-line-required-error" name="text-single-line-required-error" class="form-control" type="" aria-label="Text - single line required with error" required>
	</div>
	<p class="help-block">The Text - single line field is required.</p></div>		<div class="form-group field-required has-error">
	<label for="textarea-required-error">Text - multiple lines required with error<span class="required">*</span></label>
		<div>
		<textarea id="textarea-required-error" name="textarea-required-error" class="form-control"  rows="3" aria-label="Text - multiple lines required with error" required></textarea>
	</div>
	<p class="help-block">The Text - multiple lines required with error field is required.</p></div>	    <div class="form-group field-required has-error">
	<label for="dropdown-required-error">Dropdown required with error<span class="required">*</span></label>
		<div>
		<select class="form-control" id="dropdown-required-error" name="dropdown-required-error" required>
			<option value="">-- Please choose --</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
					</select>
	</div>
	<p class="help-block">The Dropdown required with error field is required.</p></div>		<div class="form-group field-required has-error">
	<fieldset id="radio-single-choice-required-error">
		<legend>Radio - single choice required with error<span class="required">*</span></legend>
				<div>
							<div class="radio radio-pretty">
					<label for="radio-choice-one-required-error">
						<input id="radio-choice-one-required-error" type="radio" name="radio-single-choice-required-error" value="Choice 1" aria-label="Radio - single choice required with error - choice 1" checked required> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-two-required-error">
						<input id="radio-choice-two-required-error" type="radio" name="radio-single-choice-required-error" value="Choice 2" aria-label="Radio - single choice required with error - choice 2" required> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-three-required-error">
						<input id="radio-choice-three-required-error" type="radio" name="radio-single-choice-required-error" value="Choice 3" aria-label="Radio - single choice required with error - choice 3" required> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	<p class="help-block">The Radio - single choice required with error field is required.</p></div>	    <div class="form-group field-required has-error">
	<fieldset id="checkbox-multiple-choice-required-error">
		<legend>Checkbox - multiple choice required with error<span class="required">*</span></legend>
				<div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-one-required-error">
						<input id="checkbox-choice-one-required-error" type="checkbox" name="checkbox-multiple-choice-required-error" value="Choice 1" aria-label="Checkbox - multiple choice required with error - choice 1" required> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-two-required-error">
						<input id="checkbox-choice-two-required-error" type="checkbox" name="checkbox-multiple-choice-required-error" value="Choice 2" aria-label="Checkbox - multiple choice required with error - choice 2" required> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-three-required-error">
						<input id="checkbox-choice-three-required-error" type="checkbox" name="checkbox-multiple-choice-required-error" value="Choice 3" aria-label="Checkbox - multiple choice required with error - choice 3" required> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	<p class="help-block">The Checkbox - multiple choice required with error field is required.</p></div>	    <hr>
		<h3>Form section - help text</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, sunt consectetur, corporis ipsum eveniet nemo, architecto molestias quia fuga cumque nesciunt est asperiores, doloribus amet saepe magni a neque aspernatur?</p>
		<div class="form-group">
	<label for="text-single-line-help-text">Text - single line with help text</label>
	<p class="help-block">This is some help text</p>	<div>
		<input id="text-single-line-help-text" name="text-single-line-help-text" class="form-control" type="" aria-label="Text - single line with help text">
	</div>
	</div>		<div class="form-group">
	<label for="textarea-help-text">Text - multiple lines with help text</label>
	<p class="help-block">This is some help text</p>	<div>
		<textarea id="textarea-help-text" name="textarea-help-text" class="form-control"  rows="3" aria-label="Text - multiple lines with help text"></textarea>
	</div>
	</div>	    <div class="form-group">
	<label for="dropdown-help-text">Dropdown with help text</label>
	<p class="help-block">This is some help text</p>	<div>
		<select class="form-control" id="dropdown-help-text" name="dropdown-help-text">
			<option value="">-- Please choose --</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
					</select>
	</div>
	</div>		<div class="form-group">
	<fieldset id="radio-single-choice-help-text">
		<legend>Radio - single choice with help text</legend>
		<p class="help-block">This is some help text</p>		<div>
							<div class="radio radio-pretty">
					<label for="radio-choice-one-help-text">
						<input id="radio-choice-one-help-text" type="radio" name="radio-single-choice-help-text" value="Choice 1" aria-label="Radio - single choice with help text - choice 1" checked> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-two-help-text">
						<input id="radio-choice-two-help-text" type="radio" name="radio-single-choice-help-text" value="Choice 2" aria-label="Radio - single choice with help text - choice 2"> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-three-help-text">
						<input id="radio-choice-three-help-text" type="radio" name="radio-single-choice-help-text" value="Choice 3" aria-label="Radio - single choice with help text - choice 3"> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <div class="form-group">
	<fieldset id="checkbox-multiple-choice-help-text">
		<legend>Checkbox - multiple choice with help text</legend>
		<p class="help-block">This is some help text</p>		<div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-one-help-text">
						<input id="checkbox-choice-one-help-text" type="checkbox" name="checkbox-multiple-choice-help-text" value="Choice 1" aria-label="Checkbox - multiple choice with help text - choice 1"> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-two-help-text">
						<input id="checkbox-choice-two-help-text" type="checkbox" name="checkbox-multiple-choice-help-text" value="Choice 2" aria-label="Checkbox - multiple choice with help text - choice 2"> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-three-help-text">
						<input id="checkbox-choice-three-help-text" type="checkbox" name="checkbox-multiple-choice-help-text" value="Choice 3" aria-label="Checkbox - multiple choice with help text - choice 3"> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	</div>	    <hr>
	    <h3>Form section - required fields - with errors and help text</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, sunt consectetur, corporis ipsum eveniet nemo, architecto molestias quia fuga cumque nesciunt est asperiores, doloribus amet saepe magni a neque aspernatur?</p>
		<div class="form-group field-required has-error">
	<label for="text-single-line-required-error-help-text">Text - single line required with error and help text<span class="required">*</span></label>
	<p class="help-block">This is some help text</p>	<div>
		<input id="text-single-line-required-error-help-text" name="text-single-line-required-error-help-text" class="form-control" type="" aria-label="Text - single line required with error and help text" required>
	</div>
	<p class="help-block">The Text - single line field is required.</p></div>		<div class="form-group field-required has-error">
	<label for="textarea-required-error-help-text">Text - multiple lines required with error and help text<span class="required">*</span></label>
	<p class="help-block">This is some help text</p>	<div>
		<textarea id="textarea-required-error-help-text" name="textarea-required-error-help-text" class="form-control"  rows="3" aria-label="Text - multiple lines required with error and help text" required></textarea>
	</div>
	<p class="help-block">The Text - multiple lines required with error field is required.</p></div>	    <div class="form-group field-required has-error">
	<label for="dropdown-required-error-help-text">Dropdown required with error and help text<span class="required">*</span></label>
	<p class="help-block">This is some help text</p>	<div>
		<select class="form-control" id="dropdown-required-error-help-text" name="dropdown-required-error-help-text" required>
			<option value="">-- Please choose --</option>
															<option value="2019">2019</option>
															<option value="2020">2020</option>
															<option value="2021">2021</option>
															<option value="2022">2022</option>
					</select>
	</div>
	<p class="help-block">The Dropdown required with error field is required.</p></div>		<div class="form-group field-required has-error">
	<fieldset id="radio-single-choice-required-error-help-text">
		<legend>Radio - single choice required with error and help text<span class="required">*</span></legend>
		<p class="help-block">This is some help text</p>		<div>
							<div class="radio radio-pretty">
					<label for="radio-choice-one-required-error-help-text">
						<input id="radio-choice-one-required-error-help-text" type="radio" name="radio-single-choice-required-error-help-text" value="Choice 1" aria-label="Radio - single choice required with error and help text - choice 1" checked required> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-two-required-error-help-text">
						<input id="radio-choice-two-required-error-help-text" type="radio" name="radio-single-choice-required-error-help-text" value="Choice 2" aria-label="Radio - single choice required with error and help text - choice 2" required> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="radio radio-pretty">
					<label for="radio-choice-three-required-error-help-text">
						<input id="radio-choice-three-required-error-help-text" type="radio" name="radio-single-choice-required-error-help-text" value="Choice 3" aria-label="Radio - single choice required with error and help text - choice 3" required> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	<p class="help-block">The Radio - single choice required with error field is required.</p></div>	    <div class="form-group field-required has-error">
	<fieldset id="checkbox-multiple-choice-required-error-help-text">
		<legend>Checkbox - multiple choice required with error and help text<span class="required">*</span></legend>
				<div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-one-required-error-help-text">
						<input id="checkbox-choice-one-required-error-help-text" type="checkbox" name="checkbox-multiple-choice-required-error-help-text" value="Choice 1" aria-label="Checkbox - multiple choice required with error and help text - choice 1" required> 
						<span></span>
						Choice 1					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-two-required-error-help-text">
						<input id="checkbox-choice-two-required-error-help-text" type="checkbox" name="checkbox-multiple-choice-required-error-help-text" value="Choice 2" aria-label="Checkbox - multiple choice required with error and help text - choice 2" required> 
						<span></span>
						Choice 2					</label>
				</div>
							<div class="checkbox checkbox-pretty">
					<label for="checkbox-choice-three-required-error-help-text">
						<input id="checkbox-choice-three-required-error-help-text" type="checkbox" name="checkbox-multiple-choice-required-error-help-text" value="Choice 3" aria-label="Checkbox - multiple choice required with error and help text - choice 3" required> 
						<span></span>
						Choice 3					</label>
				</div>
					</div>
	</fieldset>
	<p class="help-block">The Checkbox - multiple choice required with error field is required.</p></div>	    <hr>
	    <div role="alert" class="alert alert-success">
			Thank you, your submissions has been sent
	</div>		<div role="alert" class="alert alert-danger">
			Sorry, this form has now passed its closing date and is no longer accepting new responses.
	</div>		<div role="alert" class="alert alert-danger" tabindex="-1" aria-describedby="form-errors">
			<p id="form-errors">
    		<strong>Please check, and fix the following errors:</strong>
    	</p>
    	<ul>
    		    			<li>
    				The Full Name field is required.
    			</li>
    		    			<li>
    				The Email address field is required.
    			</li>
    		    	</ul>
	</div>		<hr>
		<div class="submitButtons">
			<button class="button-yellow button-giant" role="button" type="submit" tabindex="0" data-scroll>
        Book now
            <span class="button-overlay"><span>
                        Book now
                    </span></span></button>		</div>
	</form>
</section>

    </main>

    <!-- if not internet explorer use jquery-3.3.1.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 9 or above use jquery-3.3.1.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 8 or less jquery-3.3.1.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.14/jquery.min.js"></script>
    <!-- <![endif]-->

    <script src="../../app.js"></script>
</body>
</html>

