

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Media Embed | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../global.css">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lhr5len.css">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>

    <main class="center-align">
        <!-- Start: @media-embed--youtube -->
<p style="color:magenta;">Variant: YouTube Embed</p><section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=Tj2dbHofw4I"
                >
            <img class="media-embed-img" src="../../images/media-embed-demo/Light-and-sound-engineering-Youtube-image.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="Entertainment Engineering at the University of Derby" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
            </figure>
</section>
<!-- End: @media-embed--youtube -->

<!-- Start: @media-embed--vimeo -->
<p style="color:magenta;">Variant: Vimeo Embed</p><section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://vimeo.com/226163750"
                >
            <img class="media-embed-img" src="../../images/media-embed-demo/us-video-image.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="University of Derby Union of Students" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
            </figure>
</section>
<!-- End: @media-embed--vimeo -->

<!-- Start: @media-embed--360 -->
<p style="color:magenta;">Variant: 360 Embed</p><section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-iframe="true" data-attr-iframe-max-width="100%" href="https://blog.derby.ac.uk/wp-content/themes/derby-uni-blog/virtual-campus/content/tours/index.html?360=43"
                >
            <img class="media-embed-img" src="../../images/media-embed-demo/7N0A0904.jpg" srcset="../../images/media-embed-demo/7N0A0904,w_320.jpg 320w, ../../images/media-embed-demo/7N0A0904,w_400.jpg 400w, ../../images/media-embed-demo/7N0A0904,w_600.jpg 600w, ../../images/media-embed-demo/7N0A0904.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="Markeaton Street - The Street" />
                            <img src="/images/360-view-white-v2.svg" class="uod-icons uod-icons-360-image" alt="">
                    </a>
            </figure>
</section>
<!-- End: @media-embed--360 -->

<!-- Start: @media-embed--youtube-subtitles -->
<p style="color:magenta;">Variant: YouTube with subtitles uploaded</p><section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=OxFtfo9n4ys"
                >
            <img class="media-embed-img" src="https://img.youtube.com/vi/OxFtfo9n4ys/maxresdefault.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
            </figure>
</section>
<!-- End: @media-embed--youtube-subtitles -->

<!-- Start: @media-embed--video-transcript -->
<p style="color:magenta;">Variant: Video with transcript</p><section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=OxFtfo9n4ys"
                    data-sub-html="<p class='view-transcript'><a href='#'>View Applicant Days at the University of Derby video transcript</a></p>"
                >
            <img class="media-embed-img" src="https://img.youtube.com/vi/OxFtfo9n4ys/maxresdefault.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
                    <p class="media-embed-transcript-p small"><a href='#'>View Applicant Days at the University of Derby video transcript</a></p>
            </figure>
</section>
<!-- End: @media-embed--video-transcript -->

<!-- Start: @media-embed--video-transcript-audio-description -->
<p style="color:magenta;">Variant: Video with transcript and audio description</p><section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=OxFtfo9n4ys"
                    data-sub-html="<p class='view-transcript'><a href='#'>View Applicant Days at the University of Derby video transcript and audio description</a></p>"
                >
            <img class="media-embed-img" src="https://img.youtube.com/vi/OxFtfo9n4ys/maxresdefault.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
                    <p class="media-embed-transcript-p small"><a href='#'>View Applicant Days at the University of Derby video transcript and audio description</a></p>
            </figure>
</section>
<!-- End: @media-embed--video-transcript-audio-description -->

<!-- Start: @media-embed--with-title-intro-text -->
<p style="color:magenta;">Variant: With title and intro text</p><section class="text-block" role="region"  aria-labelledby="pathways-to-nature-connection" >
    <h2 id="pathways-to-nature-connection">Pathways to nature connection</h2>            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident aut iusto omnis, fuga quae explicabo a nam. Veniam quam similique cumque iure eos iste modi omnis facilis cum dignissimos?
        </section>
<section class="media-embed">
    <figure class="media-embed-fig">
        <a class="media-embed-a" data-attr-iframe-max-width="100%" href="https://www.youtube.com/watch?v=Tj2dbHofw4I"
                >
            <img class="media-embed-img" src="../../images/media-embed-demo/Light-and-sound-engineering-Youtube-image.jpg" data-sizes="(min-width: 40em) 80vw, 100vw" alt="Entertainment Engineering at the University of Derby" />
                            <i class="uod-icons uod-icons-right-navigation media-play-button"></i>
                    </a>
            </figure>
</section>
<!-- End: @media-embed--with-title-intro-text -->

    </main>

    <!-- if not internet explorer use jquery-3.3.1.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 9 or above use jquery-3.3.1.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 8 or less jquery-3.3.1.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.14/jquery.min.js"></script>
    <!-- <![endif]-->

    <script src="../../app.js"></script>
    <script src="../../visualiser.js"></script>
    <script src="../../media/global/system/js/component-loader.js"></script>
</body>
</html>

