

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Default | University of Derby FE Components</title>
    <meta name="google" value="notranslate">
    <link media="all" rel="stylesheet" href="../../styles/app.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lhr5len.css">
    <!-- Start: Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../icons/favicon-16x16.png">
    <link rel="manifest" href="../../icons/site.webmanifest">
    <link rel="mask-icon" href="../../icons/safari-pinned-tab.svg" color="#101d49">
    <link rel="shortcut icon" href="../../icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="University of Derby">
    <meta name="application-name" content="University of Derby">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="../../icons/browserconfig.xml">
    <meta name="theme-color" content="#101d49">
    <!-- End: Favicons -->
</head>
<body>

    <main class="center-align">
        <section class="teaser-group-listing">
	        <section class="text-block" role="region"  aria-labelledby="you-may-be-interested-in" >
    <h2 id="you-may-be-interested-in">You may be interested in</h2>                    </section>
    	<div class="teaser-listing-container" style="margin-top: -3.5em;">
		<!-- Loading spinner goes here -->
		<div class="teaser-listing">
			<div class="gutter-sizer"></div>
			<div class="masonry-sizer"></div>

						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<img src="https://www.derby.ac.uk/media/derbyacuk/assets/homepage/Homepage-University-promo-(1).jpg" alt="">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Case Study</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Satisfaction, happiness and our connection to nature</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">Many studies have shown that a stronger connection to nature increases a person’s life satisfaction and happiness, at the same time as lowering their anxiety levels.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<img src="https://www.derby.ac.uk/media/derbyacuk/assets/homepage/virtual-tour-promo-image.jpg" alt="">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Undergraduate Course</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Business and Management BSc (Hons) degree</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">News</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">University of Derby students win national bursary for engineering talent</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">Many studies have shown that a stronger connection to nature increases a person’s life satisfaction and happiness, at the same time as lowering their anxiety levels.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content ">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Undergraduate Course</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Business and Management BSc (Hons) degree</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<img src="https://www.derby.ac.uk/media/derbyacuk/assets/homepage/UG19Prosp-Keyvis-396.jpg" alt="">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">News</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">University of Derby students win national bursary for engineering talent</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">Many studies have shown that a stronger connection to nature increases a person’s life satisfaction and happiness, at the same time as lowering their anxiety levels.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
						<div class="teaser-group-item">
				<div class="teaser-group-item__content teaser-group-item__content--small">
										<div class="teaser-group-item__content--text">
						<div class="teaser-tag"><a class="teaser-group-item-link" href="#">Undergraduate Course</a></div>
						<a class="teaser-group-item-link" href="#">
						<h3 class="teaser-title">Business and Management BSc (Hons) degree</h3>
						</a>
						<a class="teaser-group-item-link" href="#">
												</a>
						<a class="teaser-group-item-link" href="#">
						<p class="teaser-content">You’ll experiment with the latest digital software, learn about the principles of animation, produce distinctive animated films and develop the professional awareness you need to launch your career.</p>
												<a class="teaser-group-item-link" href="#">
							<div class="teaser-group-item-arrow"><i class="uod-icons uod-icons-up-arrow"></i></div>
						</a>
					</div>
				</div>
			</div>
					</div>
	</div>
</section>
    </main>

    <!-- if not internet explorer use jquery-3.3.1.min.js -->
    <!--[if !IE]> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 9 or above use jquery-3.3.1.min.js -->
    <!--[if gte IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <![endif]-->

    <!-- if is internet explorer 8 or less jquery-3.3.1.min.js -->
    <!--[if lt IE 9]>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.14/jquery.min.js"></script>
    <!-- <![endif]-->

    <script src="../../app.js"></script>
</body>
</html>

